
#common_title {
    color: #D8542E;
    background-color: white;
    border: #D8542E 1px solid;
}

.common_form {
    display: flex;
    margin-bottom: 30px;

}

#common_button {
    border: 0px;
    border-radius: 0px;
    color: #D8542E;
    background-color: white;
}

#employee_team_p {
    margin-bottom: 0px;
    border-bottom: 1px solid #D8542E;
}

.attendance_check {
    border: 1px solid green;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50px;
    margin-top: 10px;
    margin-right: 10px;

}
#common_employee_container0 , #common_employee_container1
, #common_employee_container2, #common_employee_container3
, #common_employee_container4, #common_employee_container5
, #common_employee_container6, #common_employee_container7
, #common_employee_container8, #common_employee_container9{
    margin-top: 10px;
    margin-left: 10px;
}

.select_employeeTeam {
    border: 1px solid #4B4B4B;
    color: #4B4B4B;
}

.select_manage {
    border: 1px solid #4B4B4B;
    color: #4B4B4B;
}

.text_employee_name {
    border: 1px solid #4B4B4B;
    color: #4B4B4B;
    width: 150px;
}

.submit_employee {
    background-color: white;
    color: #D8542E;
    border: 1px solid #D8542E;
}

.common_manage_name{
    border: 0px;
    background-color: white;
}

.td_common_manage_name{
    width: 216.5px;
}
#common_employee_item{
	display: flex;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

.select_list{
	border: 1px solid;
	width: 300px;
}