<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{css/Attendance.css}">
</head>

<body>
	<div th:fragment="attendance">
			
		<div style="display: flex;justify-content: flex-end;margin: 0 0.3rem 0.5rem 0;">
			<select style="border: none; font-size: 0.85rem;">
				<option selected>2023년 2월</option>
			</select>
		</div>
	
		<table>
			<tr>
				<th>날짜</th>
				<th>시간</th>
				<th>상태</th>
			</tr>
			<tr>
				<td>2022-02-01</td>
				<td>08:51</td>
				<td>출근</td>
			</tr>
			<tr>
				<td>2022-02-01</td>
				<td>21:03</td>
				<td>퇴근</td>
			</tr>
		</table>
		
		<div style="margin: 0.5rem 0 0 0; display: flex;" >
			<span style="font-size: 0.75rem; border-bottom: 0.05rem solid black;">추가근로 12시간 중 총 <b>3</b>시간을 하셨습니다.</sapn>
		</div>
		
	</div>
</body>


	
	
	
</html>