 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
	<div th:fragment="infomation_admin">
			
		<div class="modal fade" id="emoloyeeInfomationAdminModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="false"
		style="z-index:1;">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		
		      		<div class="modal-header">
		        		<h5 class="modal-title" id = "InfomationAdminTitle"></h5>
		        		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      		</div>
		     		
		     		<div class="modal-body" style="padding-bottom: 0;">
				 		<div class="mb-3 row">
				    		<div class="col-sm-10 w-100">
								<form action="/mypage/adminin/update" method="post" name = "InfomationAdminForm" id="infomationUpdateForm">
						
									<div class = "d-flex mb-2">
							
										<!-- 이름 -->
										<input type="text" class="form-control w-25" placeholder="성명" name="employeeName"
										id = "InfomationAdminName" th:readonly="${employee.manageNo < 11}" >
								
									
										<!-- 사번 -->
								  		<input type="text" class="form-control w-50 ms-2" placeholder="사번" name="employeeNo"
								  		id = "InfomationAdminNo" th:readonly="${employee.manageNo < 11}">
							  		
							  		
										<select class="form-select w-25 ms-2" aria-label="직급" id="InfomationAdminManage" name="manageNo" th:disabled="${employee.manageNo < 11}">
											<th:block th:each="manage : ${registerManages}">
												<option th:text="${manage.manage}" th:value="${manage.manageNo}" selected></option> 
											</th:block>
										</select>

									</div>
								
								<!-- 아이디 -->
								<input type="text" class="form-control mb-2"  name="employeeId"
								id = "InfomationAdminId" th:readonly="${employee.manageNo < 11}">
							  
								<!-- 비밀번호 -->
								<th:block th:if="${employee.manageNo >= 11}">
									<input type="password" class="form-control mb-2" name="employeePw"
									placeholder="비밀번호" id = "InfomationAdminPw">
								</th:block>

							  
								<!-- 연락처 -->
								 <input type="number " class="form-control mb-2" placeholder="연락처"  name="employeePhone"
								  id = "InfomationAdminPhone" th:readonly="${employee.manageNo < 11}">
							  
							  	<!-- 이메일 -->
							 	 <input type="email" class="form-control mb-2" placeholder="이메일"  name="employeeEmail"
							 	  id = "InfomationAdminEmail" th:readonly="${employee.manageNo < 11}">
							  
							 	 <!-- 자택주소 -->
							 	 <input type="text" class="form-control mb-2" placeholder="자택주소"  name="employeeAddr"
							  	 id = "InfomationAdminAddr" th:readonly="${employee.manageNo < 11}">
							  
								<div class = "d-flex mb-2">
									  
									  
									<select class="form-select w-50" aria-label="부서" id="InfomationAdminTeam" name="employeeTeam" 
									th:disabled="${employee.manageNo < 11}">
								
										<option value="경영 지원-경영 관리">경영 지원-경영 관리</option>
										<option value="경영 지원-정보 보안">경영 지원-정보 보안</option> 
										<option value="경영 지원-구매팀">경영 지원-구매팀</option>
										<option value="경영 지원-재무 회계">경영 지원-재무 회계</option> 
										<option value="개발 연구-개발 1팀">개발 연구-개발 1팀</option> 
										<option value="개발 연구-개발 2팀">개발 연구-개발 2팀</option> 
										<option value="개발 연구-연구팀">개발 연구-연구팀</option> 
										<option value="영업-홍보 마케팅">영업-홍보 마케팅</option> 
										<option value="영업-해외 사업">영업-해외 사업</option>
										<option value="영업">영업</option>
										<option value="개발 연구">개발 연구</option>
										<option value="경영 지원">경영 지원</option>
										<option value="공통">공통</option>  
							
									</select>
				
								<!-- 관리자 -->
							  	<input type="text" class="form-control w-50 ms-2" placeholder="관리자"  name="employeeAdmin"
							  	id = "InfomationAdminAdmin" th:if="${employee.manageNo < 11}"readonly>
							  	
							  	<input type="text" class="form-control w-50 ms-2" placeholder="관리자"  name="employeeAdmin"
							  	id = "InfomationAdminAdmin" th:if="${employee.manageNo >= 11}" readonly
							  	data-bs-toggle="offcanvas" data-bs-target="#AdminOffcanvas" >
							</div>
												
					  </form>

				      <p style="margin: 0.5rem 0 0 0.3rem; font-size: 0.8rem;" th:if="${employee.manageNo >= 11}">비밀번호는 영어 소문자/숫자 조합으로 8~16자리입니다.</p>
				      <p style="margin: 0.5rem 0 0 0.3rem; font-size: 0.8rem;" th:if="${employee.manageNo >= 11}">연락처는 (010-xxxx-xxxx)로 입력해주세요.</p>
				      
				 			   </div>
				 			 </div>
		     			 </div>
		     			 <div class="modal-footer">
							<button id = "InfomationAdminDelete" type="button" class="btn btn-primary" style="background-color: black;" th:if="${employee.manageNo >= 11}">회원 삭제</button>
							<button id = "InfomationAdminUpdate" type="button" class="btn btn-primary" style="background-color: #EA471B;" th:if="${employee.manageNo >= 11}">수정완료</button>
		      			</div> 
		    		</div>
			  </div>
		</div>

		<!-- 회원삭제 -->
		<script>
			$('#InfomationAdminDelete').click(function(){
				
				Infomation_ManageNo = $('#InfomationAdminManage').val();
				
				if(Infomation_ManageNo == 11 || Infomation_ManageNo == 13){
					alert('최상위계정 또는 관리자계정은 삭제가 불가능합니다');
				}else{
					if(confirm('회원의 계정을 삭제하시겠습니까?')){
						$('#spinner').offcanvas('show');						
						$.ajax({
							url: "/mypage/delete",
							type: "post",
							data: {employeeNo : $('#InfomationAdminNo').val()},
							success: function(result){
								if(result == 1){
									alert('성공적으로 회원이 삭제되었습니다.');
									location.href='/mypage';
									return
								}
								if(result ==2){
									alert('서버에 에러가 발생했습니다.');
									$('#spinner').offcanvas('hide');
									return
								}
							},
							error: function(){
									alert('서버에 에러가 발생했습니다.');
									$('#spinner').offcanvas('hide');
									return
							}
						})
					}
				}
			})
		</script>
		
		<!-- 회원 수정 -->
		<script>
			
			$('#InfomationAdminManage').change(function(){
				if($('#InfomationAdminManage').val() == 13 || $('#InfomationAdminManage').val() == 11){
					$('#InfomationAdminAdmin').val('없음');
				}	
			})
			
		</script>
		
		<script>
			$('#emoloyeeInfomationAdminModal').on('hidden.bs.modal',function(){
				$('#AdminOffcanvas').offcanvas('hide');
			})
		</script>
		
		
		<script th:inline="javascript">
			
			const pw_regex = /(?=.*\d)(?=.*[a-zA-ZS]).{8,16}/;
			const pw_special_regex = /[~!@#\#$%<>^&*]/;
			const phone_regex = /\d{3}-\d{4}-\d{4}/; 
			
			$('#InfomationAdminUpdate').click(function(){
				const InfomationAdmin_CheckList = ['No', 'Id', 'Name', 'Manage','Phone', 'Email','Addr', 'Team','Pw', 'Admin']
				
				let InfomationAdmin_Count = 0;
				
				if( ($('#InfomationAdminManage').val() == 11 ) ||($('#InfomationAdminManage').val() == 13)){
					$('#InfomationAdminAdmin').val(0);
					InfomationAdmin_CheckList.pop();
				}
				
				if($('#InfomationAdminAdmin').val() == '없음'){
					$('#InfomationAdminAdmin').val(0);
				}
				
				for(var i = 0; i<InfomationAdmin_CheckList.length; i++){
					if($("#InfomationAdmin"+InfomationAdmin_CheckList[i]).val() != ''){
						InfomationAdmin_Count+=1;
					}
				}
				
				if(InfomationAdmin_Count!=InfomationAdmin_CheckList.length){
					alert('누락된 정보가 있습니다.');
					$('#InfomationAdminAdmin').val('');
					return
				}
				
				if(!pw_regex.test($('#InfomationAdminPw').val())){
					alert('잘못된 비밀번호 입니다.');
					$('#InfomationAdminAdmin').val('');
					return
				}
				
				if(pw_special_regex.test($('#InfomationAdminPw').val())){
					alert('비밀번호에 특수문자를 사용할 수 없습니다.');
					$('#InfomationAdminAdmin').val('');
					
					return
				}
				
				if(!phone_regex.test($('#InfomationAdminPhone').val())){
					alert('잘못된 연락처 방식 입니다..');
					$('#InfomationAdminAdmin').val('');
					return
				}
				
				if( !$('#InfomationAdminEmail').val().includes('@') || !$('#InfomationAdminEmail').val().includes('.com') ){
					alert("이메일 형식이 올바르지 않습니다.");
					$('#InfomationAdminAdmin').val('');
					return
				}
				if(confirm('정말 수정하시겠습니까?')){
					$('#spinner').modal('show');
					$.ajax({
							url: "/mypage/adminin/update",
							type: "post",
							data: {
									employeeNo: $('#InfomationAdminNo').val(),
									employeeName: $('#InfomationAdminName').val(),
									employeePhone: $('#InfomationAdminPhone').val(),
									employeeEmail: $('#InfomationAdminEmail').val(),
									employeeAddr: $('#InfomationAdminAddr').val(),
									employeeTeam: $('#InfomationAdminTeam').val(),
									employeeId: $('#InfomationAdminId').val(),
									employeeAdmin: $('#InfomationAdminAdmin').val(),
									employeePw: $('#InfomationAdminPw').val(),
									manageNo: $('#InfomationAdminManage').val()
							},
						success:function(result){
								
								if(result == 1){
									$('#spinner').modal('hide');
									alert("현재 사번직급보다 관리자 직급이 더 작습니다.");
									$('#InfomationAdmin1Admin').val('');
									return
								}
								if(result == 2){
									$('#spinner').modal('hide');
									alert("해당 사원의 정보가 업데이트 되었습니다.");
									$('#emoloyeeInfomationAdminModal').modal('hide');
									return
								}
								if(result == 3){
									alert("서버에 전송 실패하였습니다.");
									location.href="/mypage";
									return
								}
								
							},
						error: function(){ 
							alert("서버에 전송 실패하였습니다.");
							$('#InfomationAdmin1Admin').val('');
							$('#spinner').modal('hide');
							;}
						})
				}
				
			})
			
			// 다른곳 클릭시 오프캔버스 닫기
			$('#infomationUpdateForm input').not("#InfomationAdminAdmin").click(function(){
				$('#AdminOffcanvas').offcanvas('hide');
			})
						
			
		</script>
		
	</div>
</body>	
	  
</html>