/*전사 게시판 css*/
.page_list_container{
	display: flex;
	margin-top: 50px;
	margin-left: 60%;
	margin-bottom: 20px;
}

.board_main_container{
	width: 100%;
	border: 1px solid;
}

.board_thead_tr{
	border: 1px solid black;
}


.board_thead_no, .board_thead_title, .board_thead_manage, .board_thead_name, .board_thead_date, .board_thead_views{
	text-align: center;
}

.board_thead_no, .board_thead_manage, .board_thead_name, .board_thead_date, .board_thead_views{
	width: 10%;
}

.board_thead_title{
	width: 40%;
}

.board_tbody_no, .board_tbody_manage, .board_tbody_name, .board_tbody_date, .board_tbody_views{
	text-align: center;
}

.board_search{
	display: flex;
}

/*writeBoard css*/

.write_container{
	width: 100%;
	height: 1000px;
	border: 1px solid #EAEAEA;
	margin-top: 40px;
	border-radius: 10px;
	background-color: #F3F3F3;
	box-shadow: 5px 5px 5px #EE7B00;
}

.write_title{
	width: 98%;
	border: none;
}

.write_title:focus {outline: none;}

.write_content{
	border: none;
	width: 98%;	
	height: 700px;
}

.write_content:focus {outline: none;}

.write_title_div{
	border: 1px solid black;
	width: 90%;	
	margin:auto;
	text-align: center;
	margin-top: 5%;
	border-radius: 10px;
	background-color: white;
}

.write_content_div{
	margin:auto;
	border: 1px solid black;
	width: 90%;
	text-align: center;
	margin-top: 1%;
	border-radius: 10px;
	background-color: white;
}

.write_button{
	background-color: #EE7B00;
	width: 8%;
	height: 60px;
	border: #EE7B00;
	border-radius: 10px;
	color: white;
	margin-top: 2%;
}

.write_button_div{
	width: 90%;
	margin:auto;
	text-align: right;
}

/*readBoard css*/
.read_container{
	width: 100%;
	height: 1000px;
	border: 1px solid #EAEAEA;
	margin-top: 40px;
}

.read_main_div{
	border: 1px solid #EAEAEA;	
	width: 90%;
	margin: auto;
}

.read_title_time_div{
	display: flex;
	justify-content:space-between;
}
