<!DOCTYPE html>
<html th:replace="~{submission/layout/mainLayout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<section class="Article">
  <div style="width:90%; margin-left: 5%">

    <div class="position-fixed bg-white" style="width:78.8%">
      <!-- 페이지 본문의 제목 -->
      <div>
        <h1 class="pt-4 px-4 text-start">결재 내역 - 결재 완료</h1>
      </div>
      <!-- 본문의 제목과 내용을 구분하는 선 -->
      <hr style="border: solid 1px #EA471B; opacity: 1; margin:0;">
    </div>
    <!-- 본문의 내용 위치를 잡기위해 만든 상담 공백 -->
    <div style="height:5rem;"></div>


    <!-- 조회 조건 검색 -->
    <div class="d-flex justify-content-center align-middle my-5">

      <!-- 결재 서식 구분 선택 -->
      <div class="d-flex align-middle justify-content-center">
        <p class="m-0" style="font-size: 0.9rem; width:5rem;">결재 서식 : </p>
        <select name="section" class="border-0 border-bottom" style="font-size: 0.7rem;">
          <option value="expense">지출결의서</option>
          <option value="overtime">연장근로신청서</option>
          <option value="annualLeave">연차신청서</option>
          <option value="businessTrip">출장신청서</option>
          <option value="incident">시말서</option>
        </select>
      </div>

      <!-- 발위 날짜 선택 -->
      <div class="d-flex align-middle justify-content-center ms-4">
        <p class="m-0" style="font-size: 0.9rem; width:5rem;">발의 일 : </p>
        <input type="date" name="startDate" class="border-0 border-bottom" style="font-size: 0.7rem; outline:none;">
      </div>

    </div>

    <!-- 결재 내역 리스트 -->
    <div class="d-flex align-middle justify-content-center w-75 border-bottom" style="margin-left: 12.5%; height:2.3rem;"
         th:each="i : ${#numbers.sequence(1,20)}">

      <!-- 연속 번호 -->
      <p class="px-2 my-2 text-center" style="width:5%; font-size:0.9rem;" th:text="${i}"></p>
      <!-- 서식 제목 : 사용자 입력값 x, 상신시 자동 완성 직급+이름+발의일 -->
      <div class="d-flex my-1" style="width:50%">
        <p class="px-2 my-1 border-start text-end" style="width:30%; font-size:0.9rem;">제목 : </p>
        <p class="px-2 my-1 border-end text-start" style="width:70%; font-size:0.9rem;">대리_김희용_지출결의서_2023-02-01</p>
      </div>
      <!-- 발의 일자 -->
      <div class="d-flex my-1" style="width:35%">
        <p class="px-2 my-1 text-end" style="width:50%; font-size:0.9rem;">발의 일 : </p>
        <p class="px-2 my-1 border-end text-start" style="width:50%; font-size:0.9rem;">2023-02-01</p>
      </div>
      <!-- 반려 코멘트 확인 -->
      <div style="width:10%;" class="Modal-Btn align-middle">
        <button style="margin:0.4rem;" type="button" data-bs-toggle="modal"
                th:data-bs-target="${'#coment' + i}">서식 삭제</button>
      </div>

    </div>
    <div style="height:4rem;"></div>

  </div>
</section>

</body>
</html>