<!DOCTYPE html>
<html th:replace="~{submission/layout/mainLayout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>결재_내역-결재_반려</title>
</head>
<body>

<section class="Article d-flex justify-content-center w-100 h-100">
  <div style="width:90%;">

    <div class="bg-white" style="width:100%">
      <!-- 페이지 본문의 제목 -->
      <div>
        <h1 class="pt-4 px-4 text-start">결재 내역 - 결재 반려</h1>
      </div>
      <!-- 본문의 제목과 내용을 구분하는 선 -->
      <hr style="border: solid 1px #EA471B; opacity: 1; margin:0;">
    </div>

    <!-- 결재 내역을 불러오는데 추가할 수 있는 조건 -->
    <form th:action method="get">
      <!-- 조회 조건 검색 -->
      <div class="d-flex justify-content-center align-middle my-5">

        <!-- 결재 서식 구분 선택 -->
        <div class="d-flex align-middle justify-content-center">
          <p class="m-auto" style="font-size: 0.9rem; width:5rem;">결재 서식 : </p>
          <select name="submissionSection" class="border-0 border-bottom" style="font-size: 0.7rem;">
            <option disabled selected>서식 선텍</option>
            <option value="expense">지출결의서</option>
            <option value="overtime">연장근로신청서</option>
            <option value="annualLeave">연차신청서</option>
            <option value="businessTrip">출장신청서</option>
            <option value="incident">시말서</option>
          </select>
        </div>

        <!-- 발의 날짜 선택 -->
        <div class="d-flex align-middle justify-content-center ms-4">
          <p class="m-auto" style="font-size: 0.9rem; width:5rem;">발의 일 : </p>
          <input type="date" name="submissionDatetime" class="border-0 border-bottom" style="font-size: 0.7rem; outline:none;">
        </div>

        <input type="hidden" name="approvalSection" value="reject">

        <!-- 결재 서식 구분 및 발의일 조건으로 검색 -->
        <div class="Modal-Btn align-middle ms-4">
          <button style="margin:0.4rem;" type="submit">조회</button>
        </div>

      </div>
    </form>


    <!-- 결재 내역 리스트. 리스트 안에 미확인 건들은 비교적 선명하게 보이게 하기 위해 투명도 조건을 사용 -->
    <div class="d-flex align-middle justify-content-center w-75 border-bottom" style="margin-left: 12.5%; height:2.3rem;"
         th:each="approval : ${approvalList}" th:classappend="${approval.getSubmissionOpen() == '본인건' ? 'opacity-100' : 'opacity-75'}">

      <!-- 연속 번호 . 내림차순으로 만들기 위해 배열의 크기에서 인덱스 번호를 뺀 값을 할당 -->
      <p class="px-2 my-2 text-center" style="width:5%; font-size:0.9rem;" th:text="${approvalList.size - approvalStat.index}"></p>
      <!-- 해당 서식 클릭 시 서식의 상세 내용 열람을 요청 -->
      <form class="d-flex my-1 text-dark" style="width:50%; text-decoration: none;" onmouseover="this.style.cursor='pointer'" method="post" th:id="${'detailForm' + approvalStat.index}"
         th:action="@{/submission/approval/detail/{joinValue}(joinValue=${approval.getSubmissionJoinTable()})}">
        <!-- 결재 내역 상세 및 상신 , 반려 기능을 구현하기 위해 필요한 값을 파라미터로 보내기 위해 히든타입으로 생성
         현재 페이지에서 결재 내역을 삭제를 위해 필요한 값을 히든타입으로 생성
         해당 객체에 담긴 값을 배열안에서 꺼내는데 중복 선언을 피하기 위해 이 위치에 선언-->
        <input type="hidden" name="joinValue" th:value="${approval.getSubmissionJoinTable()}">
        <input type="hidden" th:id="${'getSubmissionNo' + approvalStat.index}" name="submissionNo" th:value="${approval.getSubmissionNo()}">
        <input type="hidden" name="submissionPri" th:value="${approval.getSubmissionPri()}">
        <input type="hidden" name="approvalSection" value="reject">
        <input type="hidden" name="submissionOpen" th:value="${approval.getSubmissionOpen()}">
        <input type="hidden" name="employeeNo" th:value="${employeeNo}">
        <input type="hidden" name="approvalAble" th:value="${approval.getApprovalAble()}">
        <input type="hidden" th:id="${'getSubmissionComent' + approvalStat.index}" th:value="${approval.getSubmissionComent()}">
        <input type="hidden" th:id="${'getDeleteCheck' + approvalStat.index}" th:value="${approval.getDeleteCheck()}">

        <!-- 해당 서식이 미열람일 경우 선명하게 나타내기 위해 미열람 건은 <b>태그를 추가하여 폰트를 굵게함 -->
        <p class="px-2 my-1 border-start text-end" style="width:20%; font-size:0.9rem;"
           th:utext="${approval.getSubmissionOpen() == '본인건' ? '<b>제목 : </b>' : '제목 : '}">제목 : </p>

        <!-- 서식 제목 : 사용자 입력값 x, 상신시 자동 완성 직급+이름+발의일 -->
        <p class="px-2 my-1 border-end text-start" th:id="${'getSubmissionSubject' + approvalStat.index}" style="width:80%; font-size:0.9rem;"
           th:utext="${approval.getSubmissionOpen() == '본인건' ? '<b>'+approval.getSubmissionSubject()+'</b>' : approval.getSubmissionSubject()}">서식 제목</p>
      </form>

      <!-- 발의 일자 -->
      <div class="d-flex my-1" style="width:35%">
        <p class="px-2 my-1 text-end" style="width:50%; font-size:0.9rem;">발의 일 : </p>
        <p class="px-2 my-1 border-end text-start" style="width:50%; font-size:0.9rem;" th:text="${approval.getSubmissionDatetime()}">상신 일자</p>
      </div>

      <!-- 헤당 서식 반려 내용 조회 버튼 -->
      <div style="width:10%;" class="Modal-Btn align-middle">
        <button style="margin:0.4rem;" type="button" class="Submit" th:id="${'rejected' + approvalStat.index}">반려 사유</button>
      </div>

    </div>
    <div style="height:4rem;"></div>


    <!-- 서식 반려 내용 조회 모달 -->
    <div class="modal fade" id="rejectedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">반려 사유</h1>
          </div>
          <div class="modal-body" id="rejectModalBody">
            <textarea name="submissionComent" id="rejectedComent" class="w-100 h-100 border-0"
                      style="outline: none; resize: none; font-size: 0.7rem;"></textarea>
          </div>
          <div class="modal-footer In-Modal-Btn align-middle">
            <button type="button" class="Close" data-bs-dismiss="modal">닫기</button>
            <!-- 헤당 서식 삭제 버튼 -->
            <button type="submit" class="Submit" id="deleteApproval">삭제</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 서식 삭제 모달 -->
    <form th:action="@{/submission/approval/delete}" method="post" id="deleteForm">
      <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">서식 삭제</h1>
            </div>
            <div class="modal-body" id="deleteModalBody">
              <textarea name="submissionComent" id="deleteCheck" class="w-100 h-100 border-0" style="outline: none; resize: none; font-size: 0.7rem;"></textarea>
              <!-- 서식 삭제 로직을 처리하기 위해 필요한 파라미터값을 히든타입으로 추가 -->
              <input type="hidden" name="submissionNo" id="submissionNo" value="">
              <input type="hidden" name="saveProposer" id="setDeleteCheck" value="">
            </div>
            <div class="modal-footer In-Modal-Btn align-middle">
              <button type="button" class="Close" data-bs-dismiss="modal">닫기</button>
              <button type="submit" class="Submit" id="delete">삭제</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <script th:inline="javascript">
      <!-- 결재 내역 배열의 크기 -->
      let max = [[${approvalList.size}]];

      <!-- 결재 내역의 수량만큼 반복문 실행 -->
      for (let i = 0; i < max; i++){
          <!-- 반려 버튼 클릭시 반려에 필요한 값과 삭제에 필요한 값을 각각에 모달에 전달 -->
          $('#rejected' + i).on("click", function() {
              document.getElementById("rejectedComent").innerHTML = $('#getSubmissionComent' + i).val();
              document.getElementById("submissionNo").value = $('#getSubmissionNo' + i).val();
              document.getElementById("setDeleteCheck").value = $('#getDeleteCheck' + i).val();
              document.getElementById("deleteCheck").innerHTML = "'" + document.getElementById("getSubmissionSubject" + i).innerText + "' 서식을 삭제하시겠습니까?";
              <!-- 값을 다 보낸 후 모달 오픈 -->
              $('#rejectedModal').modal("show");
          });
          <!-- 서식 제목 클릭 시 상세 상세 폼 submit -->
          $('#detailForm' + i).on("click", function() {
              $('#detailForm' + i).submit();
          });
      }
      <!-- 반려모달 안에 삭제 버튼 클릭시 반려모달과 삭제모달을 교차 -->
      $('#deleteApproval').on("click", function() {
          $('#rejectedModal').modal("hide");
          $('#deleteModal').modal("show");
      })

  </script>
</section>

</body>
</html>