<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>임직원 조회 리스트</title>
</head>
<body>
<div th:fragment="common">
  <div class="offcanvas offcanvas-end" data-bs-backdrop="false" th:classappend="${selectCommons} ? 'show' : '' " tabindex="-1"
       id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="width: 560px;">
    <div class="offcanvas-header">
      <h4 class="offcanvas-title" id="offcanvasRightLabel" style="color: #D8542E; font-weight: bold;">사원 조회
      </h4>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="common_form d-flex" style="width:100%">
        <!--<form method="get" th:action>-->
          <select name="employeeTeam" class="select_employeeTeam" style="width:40%;">
            <option disabled selected>부서선택</option>
            <option value="임원">임원</option>
            <option value="경영 지원-경영 관리">경영 지원-경영 관리</option>
            <option value="경영 지원-재무 회계">경영 지원-재무 회계</option>
            <option value="경영 지원-정보 보안">경영 지원-정보 보안</option>
            <option value="경영 지원-구매">경영 지원-구매</option>
            <option value="개발 연구-개발 1팀">개발 연구-개발 1팀</option>
            <option value="개발 연구-개발 2팀">개발 연구-개발 2팀</option>
            <option value="개발-연구 연구팀">개발-연구 연구팀</option>
            <option value="영업-홍보 마케팅">영업-홍보 마케팅</option>
            <option value="영업-해외 사업">영업-해외 사업</option>
          </select>
          <select name="manage" class="selectManage" style="width: 15%;">
            <option disabled selected>직급</option>
            <option value="인턴">인턴</option>
            <option value="사원">사원</option>
            <option value="주임">주임</option>
            <option value="대리">대리</option>
            <option value="과장">과장</option>
            <option value="차장">차장</option>
            <option value="부장">부장</option>
            <option value="이사">이사</option>
            <option value="상무">상무</option>
            <option value="전무">전무</option>
            <option value="관리자">관리자</option>
            <option value="부사장">부사장</option>
            <option value="사장">사장</option>
          </select>
          <input type="text" th:value="null" name="employeeName" class="text_employee_name" style="width: 25%">
          <div style="width:5%"></div>
          <button type="submit" name="check" value="1" id="commonSelect" class="submit_employee" style="width:10%">검색</button>
        </form>
      </div>
      <div id="selectedCommons">
        <th:block th:each="select : ${commonSelect}">
          <div class="select_list" th:id="${'selectedCommon' + selectStat.index}" onmouseover="this.style.cursor='pointer'">
            <span th:text="|${select.employeeTeam} / |"></span>
            <span th:text="${select.manage}"></span>
            <span th:text="${select.employeeName}"></span>
            <input type="hidden" th:id="${'selectedCommonName' + selectStat.index}" th:value="${select.employeeName}">
            <input type="hidden" th:id="${'selectedCommonNo' + selectStat.index}" th:value="${select.employeeNo}">
          </div>
        </th:block>
      </div>




      <div>
        <!--임원-->
        <div>
          <p id="employee_team_p">
            <button class="btn btn-primary" id="common_button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#common_employee_container0" aria-expanded="false"
                    aria-controls="common_employee_container0">
              임원
            </button>
          </p>
          <div class="collapse" id="common_employee_container0">
            <div class="row" id="team0">
              <div id="common_employee_item" class="col-6" th:each="team : ${team0}">
                <div class="attendance_check">
                  <p></p>
                </div>
                <span class="td_common_manage_name">
                  <input type="hidden" th:id="${'team0approverNo' + teamStat.index}" th:value="${team.employeeNo}">
                  <input type="hidden" th:id="${'team0approverName' + teamStat.index}" th:value="${team.employeeName}">
                  <button class="common_manage_name" th:id="${'team0approverKey' + teamStat.index}"
                          th:text="${team.manage} + ' | ' + ${team.employeeName}" type="button"
                          data-bs-toggle="modal" data-bs-target="#approverSelect"></button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <!--경영 지원 - 경영 관리-->
        <div>
          <p id="employee_team_p">
            <button class="btn btn-primary" id="common_button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#common_employee_container1" aria-expanded="false"
                    aria-controls="common_employee_container1">
              경영 지원 - 경영 관리
            </button>
          </p>
          <div class="collapse" id="common_employee_container1">
            <div class="row" id="team1">
              <div id="common_employee_item" class="col-6" th:each="team : ${team1}">
                <div class="attendance_check">
                  <p></p>
                </div>
                <span class="td_common_manage_name">
                  <input type="hidden" th:id="${'team1approverNo' + teamStat.index}" th:value="${team.employeeNo}">
                  <input type="hidden" th:id="${'team1approverName' + teamStat.index}" th:value="${team.employeeName}">
                  <button class="common_manage_name" th:id="${'team1approverKey' + teamStat.index}"
                          th:text="${team.manage} + ' | ' + ${team.employeeName}" type="button"
                          data-bs-toggle="modal" data-bs-target="#approverSelect"></button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <!--경영 지원 - 재무 회계-->
        <div>
          <p id="employee_team_p">
            <button class="btn btn-primary" id="common_button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#common_employee_container2" aria-expanded="false"
                    aria-controls="common_employee_container2">
              경영 지원 - 재무 회계
            </button>
          </p>
          <div class="collapse" id="common_employee_container2">
            <div class="row" id="team2">
              <div id="common_employee_item" class="col-6" th:each="team : ${team2}">
                <div class="attendance_check">
                  <p></p>
                </div>
                <span class="td_common_manage_name">
                  <input class="common_manage_name"
                         th:value="${team.manage} + ' | ' + ${team.employeeName}" type="button">
                  <input type="hidden" th:value="${team.employeeNo}">
                </span>
              </div>
            </div>
          </div>
        </div>

        <!--경영 지원 - 정보 보안-->
        <div>
          <p id="employee_team_p">
            <button class="btn btn-primary" id="common_button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#common_employee_container3" aria-expanded="false"
                    aria-controls="common_employee_container3">
              경영 지원 - 정보 보안
            </button>
          </p>
          <div class="collapse" id="common_employee_container3">
            <div class="row" id="team3">
              <div id="common_employee_item" class="col-6" th:each="team : ${team3}">
                <div class="attendance_check">
                  <p></p>
                </div>
                <span class="td_common_manage_name">
                  <input class="common_manage_name"
                         th:value="${team.manage} + ' | ' + ${team.employeeName}" type="button">
                  <input type="hidden" th:value="${team.employeeNo}">
                </span>
              </div>
            </div>
          </div>
        </div>

        <!--경영 지원 - 구매-->
        <div>
          <p id="employee_team_p">
            <button class="btn btn-primary" id="common_button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#common_employee_container4" aria-expanded="false"
                    aria-controls="common_employee_container4">
              경영 지원 - 구매
            </button>
          </p>
          <div class="collapse" id="common_employee_container4">
            <div class="row" id="team4">
              <div id="common_employee_item" class="col-6" th:each="team : ${team4}">
                <div class="attendance_check">
                  <p></p>
                </div>
                <span class="td_common_manage_name">
                  <input class="common_manage_name"
                         th:value="${team.manage} + ' | ' + ${team.employeeName}" type="button">
                  <input type="hidden" th:value="${team.employeeNo}">
                </span>
              </div>
            </div>
          </div>
        </div>

        <!--개발 연구 - 개발 1팀-->
        <div>
          <p id="employee_team_p">
            <button class="btn btn-primary" id="common_button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#common_employee_container5" aria-expanded="false"
                    aria-controls="common_employee_container5">
              개발 연구 - 개발 1팀
            </button>
          </p>
          <div class="collapse" id="common_employee_container5">
            <div class="row" id="team5">
              <div id="common_employee_item" class="col-6" th:each="team : ${team5}">
                <div class="attendance_check">
                  <p></p>
                </div>
                <span class="td_common_manage_name">
                  <input class="common_manage_name"
                         th:value="${team.manage} + ' | ' + ${team.employeeName}" type="button">
                  <input type="hidden" th:value="${team.employeeNo}">
                </span>
              </div>
            </div>
          </div>
        </div>

        <!--개발 연구 - 개발 2팀-->
        <div>
          <p id="employee_team_p">
            <button class="btn btn-primary" id="common_button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#common_employee_container6" aria-expanded="false"
                    aria-controls="common_employee_container6">
              개발 연구 - 개발 2팀
            </button>
          </p>
          <div class="collapse" id="common_employee_container6">
            <div class="row" id="team6">
              <div id="common_employee_item" class="col-6" th:each="team : ${team6}">
                <div class="attendance_check">
                  <p></p>
                </div>
                <span class="td_common_manage_name">
                  <input class="common_manage_name"
                         th:value="${team.manage} + ' | ' + ${team.employeeName}" type="button">
                  <input type="hidden" th:value="${team.employeeNo}">
                </span>
              </div>
            </div>
          </div>
        </div>

        <!--개발 연구 - 연구팀-->
        <div>
          <p id="employee_team_p">
            <button class="btn btn-primary" id="common_button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#common_employee_container7" aria-expanded="false"
                    aria-controls="common_employee_container7">
              개발 연구 - 연구팀
            </button>
          </p>
          <div class="collapse" id="common_employee_container7">
            <div class="row" id="team7">
              <div id="common_employee_item" class="col-6" th:each="team : ${team7}">
                <div class="attendance_check">
                  <p></p>
                </div>
                <span class="td_common_manage_name">
                  <input class="common_manage_name"
                         th:value="${team.manage} + ' | ' + ${team.employeeName}" type="button">
                  <input type="hidden" th:value="${team.employeeNo}">
                </span>
              </div>
            </div>
          </div>
        </div>

        <!--영업 - 홍보마케팅-->
        <div>
          <p id="employee_team_p">
            <button class="btn btn-primary" id="common_button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#common_employee_container8" aria-expanded="false"
                    aria-controls="common_employee_container8">
              영업 - 홍보마케팅
            </button>
          </p>
          <div class="collapse" id="common_employee_container8">
            <div class="row" id="team8">
              <div id="common_employee_item" class="col-6" th:each="team : ${team8}">
                <div class="attendance_check">
                  <p></p>
                </div>
                <span class="td_common_manage_name">
                  <input class="common_manage_name"
                         th:value="${team.manage} + ' | ' + ${team.employeeName}" type="button">
                  <input type="hidden" th:value="${team.employeeNo}">
                </span>
              </div>
            </div>
          </div>
        </div>

        <!--영업 - 해외 사업-->
        <div>
          <p id="employee_team_p">
            <button class="btn btn-primary" id="common_button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#common_employee_container9" aria-expanded="false"
                    aria-controls="common_employee_container9">
              영업 - 해외 사업
            </button>
          </p>
          <div class="collapse" id="common_employee_container9">
            <div class="row" id="team9">
              <div id="common_employee_item" class="col-6" th:each="team : ${team9}">
                <div class="attendance_check">
                  <p></p>
                </div>
                <span class="td_common_manage_name">
                  <button class="common_manage_name" th:value="${team.employeeNo}"
                         th:text="${team.manage} + ' | ' + ${team.employeeName}" type="button"></button>
                  <input type="hidden" th:value="${team.employeeNo}">
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="In-Modal-Btn justify-content-start">
          <input type="hidden" id="deleteKey" th:value="${insertKey}">
          <button type="button" id="deleteApprover" class="Close">삭제</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" th:id="approverSelect" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">결재자 선택</h1>
        </div>
        <div class="modal-body" id="modalBody"><!--th:text="|${team.employeeName} 님을 결재자로 선택하시겠습니까?|"-->
        </div>
        <div class="modal-footer In-Modal-Btn align-middle">
          <button type="button" class="Close" data-bs-dismiss="modal">닫기</button>
          <button type="button" onclick="approverChange()" class="Submit">선택</button>
          <input type="hidden" id="teamApproverName" value=""> <!--th:value="${team.employeeName}"-->
          <input type="hidden" id="teamApproverNo" value="">  <!--th:value="${team.employeeNo}"-->
          <input type="hidden" id="insertKey" name="insertKey" th:value="${insertKey}">
        </div>
      </div>
    </div>
  </div>

  <script>
    $('#commonSelect').on("click", function() {
        $('#spinner').modal("show");
    });
  </script>

</div>




</body>
</html>