<!DOCTYPE html>

<html th:fragment="layout (title, article)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 	<title th:replace="${title}">레이아웃 메인</title>
 	
    <!-- 부트스트랩 -->
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">  
  	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  	
  	<!--폰트 설정-->
	<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
	<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
	<link th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;900&display=swap}" rel="stylesheet">
  	<link rel="stylesheet" th:href="@{/css/font.css}">
  	
  	<!-- 아이콘 --> 
  	<script src="https://kit.fontawesome.com/d289c31bc3.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/mypage/layout/style.css}">
    
    <!-- JQUERY -->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    
	<!-- offcanvas -->
	<div th:replace="~{mypage/common/register_common :: registerCommon}"></div> 
	<div th:replace="~{mypage/common/search_common :: searchCommon}"></div> 
	<div th:replace="~{mypage/common/admin_Common :: adminCommon}"></div> 
	<link th:href="@{/css/common/common.css}" rel="stylesheet">
	
</head>
<body>
	<!-- * class "All"은 모든 작업영역입니다 건들지 말아주세요! -->
	<div class = "All">
		<!-- 사이드 바입니다  -->
		<nav class = "Side">
            <!-- 사이드바의 아이콘 구역입니다 -->
            <div th:replace="~{navIcon/icon :: icons}"></div>

            <!-- sample/layout/category.html 에서 선언한 categorys를 여기서 호출하여 아래의 위치에 대치합니다. <div>태그도 사라지고 categorys가 선언된 <ul>태그가 위치하게 됩니다. -->
            <div th:replace="~{mypage/layout/category :: categorys}"></div>
        </nav>
        
        <!-- 사이드바 크기의 더미입니다 신경쓰지 않으셔도 됩니다 -->
        <div class = "Side_Dummy">
        </div>
        
        <!-- 페이지가 들어갈 아티클입니다 -->
		<div class = "Article" th:replace="${article}">
		</div>
		
		    <!-- 내 정보 modal -->
	<div th:replace="~{mypage/modal/infomation :: infomation}"></div>
	<div th:replace="~{mypage/modal/infomation_admin :: infomation_admin}"></div>
		 <!-- Modal -->
        <div class="modal fade bg-transparent border-0" id="spinner" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered bg-transparent border-0">
                <div class="modal-content bg-transparent border-0">
                    <div class="modal-body bg-transparent" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <div>
                            <small class="text-light">로딩중</small>
                        </div>
                        <div class="spinner-border text-light" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
    </div>
    
</body>
	<script>
		
		$('#spinner').hide();
		
	    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
	    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
	</script>
</html>
