 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
	<div th:fragment="mypageModals">
		<!-- Modal [연차 조회] -->
	    <div class="modal fade" id="annualModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">연차 조회</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body w-100">
				 <div class="d-flex justify-content-center w-100" >
					 <div class = "w-100" th:replace="~{mypage/modal/Annual :: annual}">
					 </div>
				  </div>
		      </div>
		      <div class="modal-footer">
		      </div>
		    </div>
		  </div>
		</div>
		
	    <!-- Modal [출퇴근 조회] -->
	    <div class="modal fade" id="attendanceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">출퇴근 조회</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
				 <div class="d-flex justify-content-center" >
					 <div th:replace="~{mypage/modal/Attendance :: attendance}">
						 
					 </div>
				  </div>
		      </div>
		      <div class="modal-footer">
		      </div>
		    </div>
		  </div>
		</div>
	    
	    <!-- Modal [이메일 비밀번호 변경] -->
	    <div class="modal fade" id="emailPwChangeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">이메일 비밀번호 변경/등록</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body" style="padding-bottom: 0;">
				 <div class="mb-3 row">
				    <div class="col-sm-10 w-100">
					  <input type="hidden" th:value="${employee.employeeNo}" id="inputEmailPwNo">
				      <input type="password" class="form-control" id="inputEmailPw" placeholder="변경 또는 등록할 이메일 비밀번호">
				    </div>
				  </div>
		      </div>
		      <div class="modal-footer">
		        <button id = "buttonEmailPw" type="button" class="btn btn-primary" style="background-color: #EA471B;">변경하기</button>
		      </div>
		    </div>
		  </div>
		</div>
			
		<!-- Modal [계정 생성] -->
	    <div class="modal fade" id="employeeRegisterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">계정 생성</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body" style="padding-bottom: 0;">
				 <div class="mb-3 row">
				    <div class="col-sm-10 w-100">
						
						<div class = "d-flex mb-2">
							<input type="text" class="form-control w-25" id="inputRegisterName" placeholder="성명" name="employeeName">
					  		<input type="text" class="form-control w-50 ms-2" id="inputRegisterName" placeholder="사번" name="employeeNo">
					  		
					  		<select class="form-select w-25 ms-2" aria-label="직급" id="inputRegisterManage" name="manageNo">
								<th:block th:each="manage : ${manages}">
									<option th:text="${manage.manage}" th:value="${manage.manageNo}" selected></option> 
								</th:block>
							</select>
		
						</div>
	
					  <input type="text" class="form-control mb-2" id="inputRegisterId" placeholder="계정" name="employeeId">
					  <input type="number " class="form-control mb-2" id="inputRegisterPhone" placeholder="연락처" name="employeePhone">
					  <input type="email" class="form-control mb-2" id="inputRegisterEmail" placeholder="이메일" name="employeeEmail">
					  <input type="text" class="form-control mb-2" id="inputRegisterAddr" placeholder="자택주소" name="employeeAddr">
					  
					  	<div class = "d-flex mb-2">
							<input type="text" class="form-control w-50" id="inputRegisterTeam" placeholder="부서" name="employeeTeam">
					  		<input type="number" class="form-control w-50 ms-2" id="inputRegisterAdmin" placeholder="관리자" name="employeeAdmin">
						</div>
						
					  
				      <p style="margin: 0.5rem 0 0 0.3rem; font-size: 0.8rem;" class = "inputRegisterText">비밀번호는 "1234"로 기본설정 됩니다.</p>
				    </div>
				  </div>
		      </div>
		      <div class="modal-footer">
		        <button id = "buttonRegister" type="button" class="btn btn-primary" style="background-color: #EA471B;" disabled>생성</button>
		      </div>
		    </div>
		  </div>
		</div>
		  
	    <!-- Modal [이메일 변경] -->
	    <div class="modal fade" id="emailChangeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">이메일 변경</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body" style="padding-bottom: 0;">
				 <div class="mb-3 row">
				    <div class="col-sm-10 w-100">
					  <input type="hidden" th:value="${employee.employeeNo}" id="inputEmailNo">
					  <input type="email" class="form-control" id="inputEmailSaved" th:placeholder="${employee.employeeEmail}" disabled style="margin-bottom: 0.5rem;">
				      <input type="email" class="form-control" id="inputEmail" placeholder="변경할 이메일">
				      <p style="margin: 0.5rem 0 0 0.3rem; font-size: 0.8rem;" class = "inputEmailText">이메일 형식에 맞춰 작성해주세요.</p>
				    </div>
				  </div>
		      </div>
		      <div class="modal-footer">
		        <button id = "buttonEmail" type="button" class="btn btn-primary" style="background-color: #EA471B;" disabled>변경하기</button>
		      </div>
		    </div>
		  </div>
		</div>
		
	    <!-- Modal [비밀번호 변경] -->
	    <div class="modal fade" id="pwChangeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">비밀번호 변경</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body" style="padding-bottom: 0;">
				 <div class="mb-3 row">
				    <div class="col-sm-10 w-100">
					  <input type="hidden" id = "inputPwNo" th:value = "${employee.employeeNo}">
				      <input type="password" class="form-control" id="inputPw" placeholder="변경할 비밀번호">
				      <p style="margin: 0.5rem 0 0 0.3rem; font-size: 0.8rem;" class = "inputPwText">영문/숫자 조합으로 8~20글자</p>
				    </div>
				  </div>
		      </div>
		      <div class="modal-footer">
		        <button id = "buttonPw" type="button" class="btn btn-primary" style="background-color: #EA471B;" disabled>변경하기</button>
		      </div>
		    </div>
		  </div>
		</div>
		
	</div>
	
</html>