<!DOCTYPE html>
<html lang="ko" th:replace="~{email/layout/mainLayout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 파일 Error! </title>
</head>
<body>
	<section style="display:flex; justify-content: center; align-items: center; flex-grow: 1;">
    <div>
      <h1 style="color:red;"> Error! </h1>
      <h1> 파일이 올바르지 않습니다.</h1>
      <h1> 임시보관함에 저장되었습니다.</h1>
    </div>
  </section>
</body>
</html>
</body>
</html>