<!DOCTYPE html>
<html lang="ko" th:replace="~{email/layout/mainLayout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메일</title>
</head>
<body>
    <section class="Article">
		<div>
			<!--Title 부분-->
			<div style="width:90%; margin-left: 5%">

			  <div class="position-fixed bg-white" style="width:75%">
			    <!-- 페이지 본문의 제목 -->
			    <div>
			      <h1 class="pt-4 px-4 text-start ">받은 메일 보관함</h1>
			    </div>
			    <!-- 본문의 제목과 내용을 구분하는 선 -->
			    <hr style="border: solid 2px #EA471B; opacity: 1; margin:0;">
			  </div>
			  <!-- 본문의 내용 위치를 잡기위해 만든 상담 공백 -->
			  <div style="height:5rem;"></div>
			</div>
			<div>
				<div><p>보낸 사람</p><p th:text="${emailDetail.emailFrom}"></p></div>
				<div><p>받는 사람</p><p th:text="${employee.employeeId + '@somsolution.com'}"></p></div>
				<div>날짜<span th:text="${emailDetail.emailSentDate}"></span><div>번역/프린트</div></div>
				<div>
					<div th:if="${emailDetail.emailHasAttachment}">첨부파일
						<a th:each="attachmentFileName : ${emailDetail.emailAttachmentFileName}"
						th:href="@{/email/downloadAttachment(fileName=${attachmentFileName})}"
						th:text="${emailDetail.emailAttachment.get(attachmentFileNameStat.index)}"></a>
					</div>
				</div>
				<div><p>내용</p><p th:utext="${emailDetail.emailContent}"></p></div>
				<div><button>답장</button><button>전달</button>
					<form method="post" th:action="@{/email/moveToTrash(folderName='INBOX')}">
						<button type="submit" id="moveToTrash" name="emailNoList" th:value="${emailDetail.emailNo}">삭제</button>
					</form>
				</div>
			</div>
		</div>

			<script>
				$('#moveToTrash').on("click", function() {
					$('#spinner').modal("show");
				});
			</script>
	</section>
</body>
</html>