<!DOCTYPE html>
<html lang="ko" th:replace="~{email/layout/mainLayout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메일</title>
</head>
<body>
    <section class="Article">
		<div>
			<!--Title 부분-->
			<div style="width:90%; margin-left: 5%">

			  <div class="position-fixed bg-white" style="width:75%">
			    <!-- 페이지 본문의 제목 -->
			    <div>
						<h1 class="pt-4 px-4 text-start " th:if="${folderName == 'INBOX'}">받은메일함</h1>
						<h1 class="pt-4 px-4 text-start " th:if="${folderName == 'Sent Items'}">보낸메일함</h1>
						<h1 class="pt-4 px-4 text-start " th:if="${folderName == 'Drafts'}">임시보관함</h1>
						<h1 class="pt-4 px-4 text-start " th:if="${folderName == 'Trash'}">휴지통</h1>
						<h1 class="pt-4 px-4 text-start " th:if="${folderName == 'Junk E-mail'}">스팸메일함</h1>
			    </div>
			    <!-- 본문의 제목과 내용을 구분하는 선 -->
			    <hr style="border: solid 2px #EA471B; opacity: 1; margin:0;">
			  </div>
			  <!-- 본문의 내용 위치를 잡기위해 만든 상담 공백 -->
			  <div style="height:5rem;"></div>
			</div>
			<div class="Read-Container">
				<div class="Read-From">
					<label>보낸 사람</label>
					<div>
						<p class="Read-FromContent" th:text="${emailDetail.emailFrom}"></p>
					</div>
				</div>
				<div class="Read-Recipient">
					<label>받는 사람</label>
					<div>
						<p class="Read-RecipientContent" th:each="recipient : ${emailDetail.emailRecipient}" th:text="${recipient}"></p>
					</div>
				</div>
				<div class="Read-Date">
					<span th:text="${emailDetail.emailSentDate}"></span>
				</div>
				<div class="Read-Attachment">
					<div th:if="${emailDetail.emailHasAttachment}">첨부파일
						<a th:each="attachmentFileName : ${emailDetail.emailAttachmentFileName}"
						th:href="@{/email/downloadAttachment(fileName=${attachmentFileName})}"
						th:text="${emailDetail.emailAttachment.get(attachmentFileNameStat.index)}"></a>
					</div>
				</div>
				<div class="Read-Content">
                    <p class="test" th:utext="${emailDetail.getEmailContent()}"></p>
                </div>
				<div class="Read-Button">
					<form method="post" th:action="@{/email/moveToTrashOrJunk(folderName=${folderName},moveFolder='Trash')}">
                        <a onclick="spinerOn()" th:href="@{/email/reply(emailNo=${emailDetail.emailNo})}">답장</a>
                         <a onclick="spinerOn()" th:href="@{/email/forward(emailNo=${emailDetail.emailNo})}">전달</a>
						<button type="submit" id="moveToTrash" name="emailNoList" th:value="${emailDetail.emailNo}">삭제</button>
					</form>
				</div>
			</div>
		</div>

	<script>
				$('#moveToTrash').on("click", function() {
					$('#spinner').modal("show");
				});
	</script>
	<script>
		//뒤로가기 시 spinner 무한로딩 방지
		let folderName = /*[[${folderName}]]*/'';
		let emailNo = /*[[${emailNo}]]*/'';
		window.onpageshow = function (event) {
		if (event.persisted) {
		location.href="/email/emailDetail?emailNo=" + emailNo + "&emailNo=" + emailNo;
			}
		};
	</script>
	</section>
</body>
</html>
</body>
</html>