<!DOCTYPE html>
<html th:replace="~{submission/layout/mainLayout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>연역신청서_결제_상세_내역</title>
</head>
<body>
<section class="Article d-flex justify-content-center w-100 h-100">
  <div style="width:90%;">

    <div class="bg-white" style="width:100%">

      <!-- 페이지 본문의 제목 -->
      <div>
        <h1 class="pt-4 px-4 text-start">결재 서식</h1>
      </div>
      <!-- 본문의 제목과 내용을 구분하는 선 -->
      <hr style="border: solid 1px #EA471B; opacity: 1; margin:0;">
    </div>

    <div class="text-center">
      <h2 class="font-monospace my-5">연차신청서</h2>

        <div style="display:flex; height:8rem;" class="align-middle border">

          <!-- 기안자 정보 항목 -->
          <div style="width:10%;">
            <div style="height:25%; font-size: 1rem;" class="border"><p class="my-1">서식 번호</p></div>
            <div style="height:25%; font-size: 1rem;" class="border"><p class="my-1">부서</p></div>
            <div style="height:25%; font-size: 1rem;" class="border"><p class="my-1">직급</p></div>
            <div style="height:25%; font-size: 1rem;" class="border"><p class="my-1">이름</p></div>
          </div>

          <!-- 기안자 정보 - 자동 추가 -->
          <div style="width:30%">
            <div style="width:100%; height:25%; font-size: 0.7rem;" class="border">
              <p class="my-2" id="" th:text="${annualLeaveApprovalDetail.getSubmissionPri()}">서식 번호</p>
            </div>
            <div style="width:100%; height:25%; font-size: 1rem;" class="border"><p class="my-1" th:text="${proposer.getEmployeeTeam()}">기안자 팀이름</p></div>
            <div style="width:100%; height:25%; font-size: 1rem;" class="border"><p class="my-1" th:text="${proposer.getManage()}">기안자 직급</p></div>
            <div style="width:100%; height:25%; font-size: 1rem;" class="border"><p class="my-1" th:text="${proposer.getEmployeeName()}">기안자 이름</p></div>
          </div>

          <!-- 결재 라인 -->
          <div style="width:5%" class="border">
            <p class="my-5" style="font-size: 1rem;">결재</p>
          </div>
          <div style="width:55%; display:flex;" class="border-start">
            <!-- 결재라인 자동 추가 배열 -->
            <div th:each="approver : ${approverList}" style="width:12.5%; font-size: 3px;">
              <select class="text-center border border-start-0 rounded-0 w-100 m-0" style="height:20%; font-size: 0.62rem;" disabled>
                <option value="결재">결재</option>
                <option value="검토" th:selected="${approver.submissionSection.toString().equals('검토')}">검토</option>
              </select>
              <input type="text" th:value="${approver.employeeName}" style="height:60%; font-size: 0.8rem;"
                     class="border border-start-0 w-100 text-center" readonly>
              <p style="height:20%; font-size: 0.7rem;" class="w-100 border border-start-0 bg-transparent py-1" th:text="${approver.getSubmissionStatus()}"></p>
            </div>
            <!-- 남은 결재라인 -->
            <div th:each="i : ${#numbers.sequence((approverList.size()), 7)}" style="width:12.5%; font-size: 3px;">
              <select class="text-center border border-start-0 rounded-0 w-100 m-0" style="height:20%; font-size: 0.62rem;" disabled>
                <option value="결재">결재</option>
                <option value="검토">검토</option>
              </select>
              <input type="text" style="height:60%; font-size: 0.8rem;"
                     class="border border-start-0 w-100 text-center" readonly>
              <p style="height:20%; font-size: 0.7rem;" class="w-100 border border-start-0 bg-transparent"></p>
            </div>
          </div>
        </div>

        <!-- 근로구분과 근로일시를 선택하는 영역 -->
        <div style="height:4rem; justify-content: space-around; align-items: center;" class="border border-2 border-top-1 border-bottom-1 d-flex">
          <div class="d-flex align-middle justify-content-center">
            <p class="m-0" style="font-size: 0.9rem; width:5rem;">근로 구분 : </p>
            <select name="expenseSection" class="border-0 border-bottom" style="font-size: 0.7rem;" disabled>
              <!-- th:text로 해서도 표현 가능하지만 기존의 폼을 그대로 유지 -->
              <option value="연차">연차</option>
              <option value="반차" th:selected="${annualLeaveApprovalDetail.getAnnualLeaveSection() == '반차'}">반차</option>
              <option value="외출" th:selected="${annualLeaveApprovalDetail.getAnnualLeaveSection() == '외출'}">외출</option>
            </select>
          </div>
          <div class="d-flex align-middle justify-content-center">

            <p class="m-0" style="font-size: 0.9rem; width:5rem;">시작 일 : </p>
            <input th:value="${annualLeaveApprovalDetail.getAnnualLeaveStart()}" type="date" name="startDate" class="border-0 border-bottom" style="font-size: 0.7rem; outline:none;">

            <p class="m-0 ms-3" style="font-size: 0.9rem; width:5rem;">종료 일 : </p>
            <input th:value="${annualLeaveApprovalDetail.getAnnualLeaveEnd()}" type="date" name="endDate" class="border-0 border-bottom" style="font-size: 0.7rem; outline:none;">

            <p class="m-0 ms-3" style="font-size: 0.9rem; width:3rem;">시간 : </p>
            <input th:value="${annualLeaveApprovalDetail.getAnnualLeaveTime()}" type="text" name="endTime" class="ms-1 border-0 border-bottom text-center" style="font-size: 0.7rem; outline:none; width:3rem;">

          </div>
        </div>

        <!-- 연차 사용 상세 내용 -->
        <div style="height:20rem; display:flex; justify-content: center; align-items: center;" class="border border-2">
          <textarea class="w-100 h-100 p-3 border-0" id="expenseContent" name="expenseContent"
                    th:text="${annualLeaveApprovalDetail.getAnnualLeaveContent()}" style="outline: none; resize: none; font-size: 0.7rem;" readonly></textarea>
        </div>

        <div style="height:4rem; display:flex; justify-content: center; align-items: center;" class="border border-2 border-top-1">

          <div class="d-flex w-75 justify-content-center align-middle">
            <p class="m-0 ms-3" style="font-size: 0.9rem; width:5rem;">프로젝트명 : </p>
            <div>
              <!-- pjt입력 폼 -->
              <input type="text" id="expensePjt" name="expensePjt" class="ms-1 border-0 border-bottom text-center"
                     th:value="${annualLeaveApprovalDetail.getAnnualLeavePjt()}" style="font-size: 0.7rem; outline:none; width:7rem;" readonly>
            </div>
          </div>

          <!-- 반려 및 결재 버튼 -->
          <div class="h-100 w-25 d-flex">
            <!-- 반려 버튼 클릭시 반려 처리 / 결재 상태가 대기로 있어야 해당 버튼 활성화 됨 -->
            <button class="btn btn-outline-dark border w-50 h-100 rounded-0 text-light" style="background-color: #E86E1C"
                    th:data-bs-toggle="${annualLeaveApprovalDetail.getApprovalAble() == '대기' ? 'modal' : 'canNotReject'}" data-bs-target="#rejectModal">
              반려
            </button>
            <!-- 결재 버튼 클릭시 결재 처리 / 결재 상태가 대기로 있어야 해당 버튼 활성화 됨 -->
            <form method="post" class="w-50" th:action="@{/submission/approval/approve}"  id="approveForm">
              <!-- 결재 로직에 필요한 파라미터값 선언 -->
              <input type="hidden" name="submissionNo" th:value="${annualLeaveApprovalDetail.getSubmissionNo()}">
              <input type="hidden" name="submissionPri" th:value="${annualLeaveApprovalDetail.getSubmissionPri()}">
              <input type="hidden" name="approverEmployeeNo" th:value="${employeeNo}">
              <input type="hidden" name="nextApprover" th:if="${nextApproverCheck}" value="결재자 있음">
              <input type="hidden" name="proposerValue" th:value="${annualLeaveApprovalDetail.getRejectValue()}">
              <button th:id="${annualLeaveApprovalDetail.getApprovalAble() == '대기' ? 'approve' : 'other'}"
                      type="button" class="btn btn-outline-dark border w-100 h-100 rounded-0 text-light" style="background-color: #EA471B">
                결재
              </button>
            </form>
          </div>
        </div>
      <div style="height:4rem;"></div>
    </div>
  </div>
  <!-- 반려는 결재중일 때만 가능하기 때문에  -->
  <div th:if="${approvalSection.equals('under')}">
    <form th:action="@{/submission/approval/reject}" method="post" id="rejectForm">
      <div class="modal fade" id="rejectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">반려 사유</h1>
            </div>
            <div class="modal-body" id="modalBody">
              <textarea name="submissionComent" id="submissionComent" class="w-100 h-100 border-0" style="outline: none; resize: none; font-size: 0.7rem;"></textarea>
              <!-- 반려 처리에 필요한 파라미터값 선언 -->
              <input type="hidden" name="submissionNo" th:value="${annualLeaveApprovalDetail.getSubmissionNo()}">
              <input type="hidden" name="submissionPri" th:value="${annualLeaveApprovalDetail.getSubmissionPri()}">
              <input type="hidden" name="approverEmployeeNo" th:value="${annualLeaveApprovalDetail.getApproverEmployeeNo()}">
              <input type="hidden" name="nextApprover" th:if="${nextApproverCheck}" value="결재자 있음">
              <input type="hidden" name="rejectValue" th:value="${annualLeaveApprovalDetail.getRejectValue()}">
            </div>
            <div class="modal-footer In-Modal-Btn align-middle">
              <button type="button" class="Close" data-bs-dismiss="modal">닫기</button>
              <button type="button" class="Submit" id="reject">반려</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <script>
      <!-- 결재 버튼 클릭시 결재 확인 여부 confirm후 submit -->
      $('#approve').on("click", function() {
          if (confirm("결재 하시겠습니까?")) {
              $('#spinner').modal("show");
              $('#approveForm').submit();
          } else {}
      });
      <!-- 반려 버튼 클릭시 반려 확인 여부 confirm후 submit -->
      $('#reject').on("click", function() {
          if ($('#submissionComent').val() != "") {
              if (confirm("반려 하시겠습니까?")) {
                  $('#spinner').modal("show");
                  $('#rejectForm').submit();
              } else {}
          } else {
              $('#submissionComent').removeClass("border-0").addClass("border-1 border-danger");
              $('#submissionComent').attr("placeholder", "반려사항을 기입하세요.");
          }
      });
      window.onpageshow = function (event) {
          if (event.persisted) {
              $('#spinner').hide();
              $('.modal-backdrop').remove();
              $('body').css('overflow', 'auto');
          }
      };
  </script>
</section>

</body>
</html>