<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="project.soms.mypage.repository.mapper.MypageMapper">
	
	
	<select id="getManage" resultType="String">
		select manage from manage
		where manage_no = #{manageNo}
	</select>
	
	<select id="getManages" resultType="project.soms.mypage.dto.ManageDto">
		select manage from manage;
	</select>
	
	<update id="mypageInfomationUpdate">
		update employee
		set 
		employee_no = #{employeeNo},
		employee_id = #{employeeId},
		employee_pw = #{employeePw},
		employee_name = #{employeeName},
		employee_phone = #{employeePhone},
		employee_addr = #{employeeAddr},
		employee_team = #{employeeTeam},
		employee_admin = #{employeeAdmin},
		employee_email = #{employeeEmail},
		manage_no = #{manageNo}
		
		where employee_no = #{employeeNo}
	</update>
	
</mapper>