<!DOCTYPE html>
<html th:replace="~{mypage/layout/mainLayout :: layout(~{::title}, ~{::section})}" xmlns:th="www.thymeleaf.org">
<head>
	<title>계정 생성</title>
	

</head>
<body>
	<section class = "Article"  >
		<div style="display: flex; justify-content: center; width:100%; height: 100%;">
			<!-- 폼 태그 설정 - action은 경로의 이름이 같아서 기입 생략 , 폼 안에 필드값 설정을 위해 오브젝트를 하나 선언 (결재 서식을 내용을 담는 폼) -->
			<div style="width:90%;">
	  			<div class="bg-white" style="width:100%;" >
	    			<!-- 페이지 본문의 제목 -->
				    <div>
				      <h1 class="pt-4 px-4 text-start" style="width: 30rem; margin-right: 0; font-size: 3rem;">회원 가입</h1>
				    </div>
				    <!-- 본문의 제목과 내용을 구분하는 선 -->
				    <hr style="border: solid 1px #EA471B; opacity: 1; margin:0;">
	 			</div>
	 		<!-- 본문과의 마진 -->
	 		<div style="margin-top: 0.5rem;"></div>
			<div style="padding-bottom: 0; width: 100%; display: flex; margin-left: 0.5rem; margin-top: 1rem;">
				
     			<form method="post" action="/mypage/register/insert" id = "RegisterForm"
     				style="padding-bottom: 0; width: 30rem; display: flex; justify-content: center; padding: 1rem;" >
					<div class="mb-3 row">
				 	   <div class="col-sm-10 w-100">
							<div class = "d-flex mb-2">
								
								<!-- 이름 --> 	
								<input type="text" class="form-control w-25" id="RegisterInsertName" placeholder="성명" name="employeeName" maxlength="5">
								
								<!-- 사번 --> 
						  		<input type="text" class="form-control w-50 ms-2" id="RegisterInsertNo" placeholder="사번" name="employeeNo" maxlength="11">
					  			
								<!-- 직급 -->
					  			<select class="form-select w-25 ms-2" aria-label="직급" id="RegisterInsertManage" name="manageNo" onchange="changeRegisterSelect()"}>
									<th:block th:each="registerManages : ${registerManages}">
										<option th:text="${registerManages.manage}" th:value="${registerManages.manageNo}" th:selected="${registerManages.manageNo} == 1"></option> 
									</th:block>
								</select>
		
							</div>
						
							<!-- 계정 --> 	
					  		<input type="text" class="form-control mb-2" id="RegisterInsertId" placeholder="계정" name="employeeId" maxlength="25">
					  
					  		<!-- 연락처 --> 	
					  		<input type="number " class="form-control mb-2" id="RegisterInsertPhone" placeholder="연락처" name="employeePhone" maxlength="13">
					  
					  		<!-- 이메일 --> 	
							<input type="email" class="form-control mb-2" id="RegisterInsertEmail" placeholder="이메일" name="employeeEmail" maxlength="50">
					  
					  		<!-- 자택주소 --> 	
					  		<input type="text" class="form-control mb-2" id="RegisterInsertAddr" placeholder="자택주소" name="employeeAddr" maxlength="50">
					  
					  	<div class = "d-flex mb-2">
							<!-- 부서 --> 					  
							<select class="form-select w-50" aria-label="부서" id="RegisterInsertTeam" name="employeeTeam">
								<option value="경영 지원-경영 관리">경영 지원-경영 관리</option>
								<option value="경영 지원-정보 보안">경영 지원-정보 보안</option> 
								<option value="경영 지원-구매팀">경영 지원-구매팀</option>						
								<option value="경영 지원-재무 회계">경영 지원-재무 회계</option> 
								<option value="개발 연구-개발 1팀">개발 연구-개발 1팀</option> 
								<option value="개발 연구-개발 2팀">개발 연구-개발 2팀</option> 
								<option value="개발 연구-연구팀">개발 연구-연구팀</option> 
								<option value="영업-홍보 마케팅">영업-홍보 마케팅</option> 
								<option value="영업-해외 사업">영업-해외 사업</option>
								<option value="영업">영업</option>
								<option value="개발 연구">개발 연구</option>
								<option value="경영 지원">경영 지원</option>
								<option value="공통">공통</option>
							</select>
							
							<!-- 관리자 사번 --> 	
					  		<input type="text" class="form-control w-50 ms-2" id="RegisterInsertAdmin" placeholder="관리자" name="employeeAdmin" maxlength="11" 
					  		data-bs-toggle="offcanvas" data-bs-target="#RegisterOffcanvas" readonly>
					  		
						</div>
						
				    	<p style="margin: 0.5rem 0 1rem 0.3rem; font-size: 0.8rem;" class = "inputRegisterText">비밀번호는 "1234"로 기본설정 됩니다.</p>
				      
					    <div class = "Category-Btn" >
	    					<button style="width: 6rem; height: 2rem; font-size: 0.85rem;" type="button" id="registerBtn">회원가입</button>
	    				</div>
	    				
				    </div>
				  </div>
			</form>
		</div>
	</div>
	
	<div th:replace="~{mypage/flagment/spinner :: spinner}"></div>
		</div>
		<script>
			window.onpageshow = function (event) {
			    if (event.persisted) {
			        location.href="/register";
			    }
			};
		</script>
	
	
	
		<script>
			// 다른곳 클릭시 오프캔버스 닫기
			$('#RegisterForm input').not("#RegisterInsertAdmin").click(function(){
				$('#RegisterOffcanvas').offcanvas('hide');
			})

		</script>
	
		<script>
			function changeRegisterSelect(){
				if( ( $( "#RegisterInsertManage option:selected").val() == 11 )||( $( "#RegisterInsertManage option:selected").val() == 13) ) {
					$('#RegisterInsertAdmin').val('없음');
				}else{
					$('#RegisterInsertAdmin').val('');
				}
				
			}
		</script>

		<script>
			// 계정 생성 [정보]
			const Register_Name = $('#RegisterInsertName');
			const Register_Id = $('#RegisterInsertId');
			const Register_Manage = $('#RegisterInsertManage');
			const Register_No = $('#RegisterInsertNo');
			const Register_Phone = $('#RegisterInsertPhone');
			const Register_Email = $('#RegisterInsertEmail');
			const Register_Addr = $('#RegisterInsertAddr');
			const Register_Team = $('#RegisterInsertTeam');
			const Register_Admin = $('#RegisterInsertAdmin');
			// 계정 생성 [버튼]
			const Register_Btn = $('#registerBtn');
			
			// admin 값 변경 에러시			
			function Admin(){
				if(Register_Manage.val() == 11 || Register_Manage.val() == 13){
					Register_Admin.val('없음');
				}
			}
			
			// 회원가입 버튼 누르면 유효성 체크
			Register_Btn.click(function(){
				const Register_Infos = ["Name", "No", "Manage", "Id", "Phone", "Email", "Addr", "Team", "Admin"];
				const employeeNo_regx = /^[0-9]+$/;	
				const phone_regex = /\d{3}-\d{4}-\d{4}/; 
				var Count = 0;
				
				// 관리자 또는 사장일경우 관리자값을 0으로 변경
				if(Register_Manage.val() == 11 || Register_Manage.val() == 13){
					Register_Infos.pop();
					Register_Admin.val(0);
				}
				
				// 모든 칸에값이 있는지 체크
				for(var i = 0; i<Register_Infos.length; i++){
					
					var RegisterValues = $('#RegisterInsert'+ Register_Infos[i]).val();
				
					if((RegisterValues != "") && (RegisterValues != 0)){	
						Count += 1;
					}
				}
					
				// 값이 다 있을 경우에
				if(Count == Register_Infos.length){
					
					var RegisterNo = Register_No.val();
					
					if(RegisterNo.length != 11){
						Admin()
						alert("사번이 잘못되었습니다.");
						return
					}else if(!employeeNo_regx.test(Register_No.val())){
						Admin()
						alert("사번은 숫자만으로 입력이 가능합니다.");
						return
					}else if(!phone_regex.test(Register_Phone.val())){
						Admin()
						alert("연락처 방식이 맞지않습니다.");
						return
					}else{
						if(Register_Admin.val() == '없음'){
							Register_Admin.val(0);
						}
						$('#spinner').modal('show');
						$.ajax({
							url: "/mypage/register/insert",
							type: "post",
							data: {
									employeeNo: Register_No.val(),
									employeeName: Register_Name.val(),
									employeePhone: Register_Phone.val(),
									employeeEmail: Register_Email.val(),
									employeeAddr: Register_Addr.val(),
									employeeTeam: Register_Team.val(),
									employeeId: Register_Id.val(),
									employeeAdmin: Register_Admin.val(),
									manageNo: Register_Manage.val()
							},
						success:function(result){
								
								if(result == 1){
									$('#spinner').modal('hide');
									Admin()
									alert("현재 사번직급보다 관리자 직급이 더 작습니다.");
									return
								}
								if(result == 2){
									$('#spinner').modal('hide');
									Admin()
									alert("중복된 사번 또는 아이디가 존재합니다.");
									return
								}
								if(result == 3){
									alert("성공적으로 계정이 생성되었습니다.");
									location.href="/mypage";
									return
								}
								if(result == 4){
									$('#spinner').modal('hide');
									Admin()
									alert("서버에 전송 실패하였습니다.");
									return
								}
								
							},
						error: function(){ 
							alert("서버에 전송 실패하였습니다.");
							$('#spinner').modal('hide');
							;}
						})
						
					}
				}else{
					alert("누락된 정보가 있습니다.");
					return
				}
			})
			
		</script>
	</section>
</body>
</html>