<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>

<div th:fragment="adminCommon">

		<div class="offcanvas offcanvas-end" data-bs-backdrop="false" th:classappend="${adminommon} ? 'show' : '' "
			tabindex="-1" id="AdminOffcanvas" aria-labelledby="offcanvasRightLabel" style="width: 560px;">
			<div class="offcanvas-header">
				<h4 class="offcanvas-title" id="offcanvasRightLabel" style="color: #D8542E; font-weight: bold;">사원 조회 - 관리자
				</h4>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">

				<div>
					<!--임원-->
					<div>
						<p id="employee_team_p">
							<button class="btn btn-primary" id="common_button" type="button" data-bs-toggle="collapse"
								data-bs-target="#common_employee_container0" aria-expanded="false"
								aria-controls="common_employee_container0">
								임원
							</button>
						</p>
						<div class="collapse" id="common_employee_container0">
							<div class="row">
								<div id="common_employee_item" class="col-6" th:each="team : ${team0}">
									<div class="attendance_check">
										<p></p>
									</div>
									<span class="td_common_manage_name">
										<button class="common_manage_name"   th:value="${team.employeeNo}" value2 = "3"
											th:text="${team.manage} + ' | ' + ${team.employeeName}"></button>
									</span>
								</div>
							</div>
						</div>
					</div>

					<!--경영 지원 - 경영 관리-->
					<div>
						<p id="employee_team_p">
							<button class="btn btn-primary" id="common_button" type="button" data-bs-toggle="collapse"
								data-bs-target="#common_employee_container1" aria-expanded="false"
								aria-controls="common_employee_container1">
								경영 지원 - 경영 관리
							</button>
						</p>
						<div class="collapse" id="common_employee_container1">
							<div class="row">
								<div id="common_employee_item" class="col-6" th:each="team : ${team1}">
									<div class="attendance_check">
										<p></p>
									</div>
									<span class="td_common_manage_name">
										<button class="common_manage_name"   th:value="${team.employeeNo}" value2 = "3"
											th:text="${team.manage} + ' | ' + ${team.employeeName}"></button>
									</span>
								</div>
							</div>
						</div>
					</div>

					<!--경영 지원 - 재무 회계-->
					<div>
						<p id="employee_team_p">
							<button class="btn btn-primary" id="common_button" type="button" data-bs-toggle="collapse"
								data-bs-target="#common_employee_container2" aria-expanded="false"
								aria-controls="common_employee_container2">
								경영 지원 - 재무 회계
							</button>
						</p>
						<div class="collapse" id="common_employee_container2">
							<div class="row">
								<div id="common_employee_item" class="col-6" th:each="team : ${team2}">
									<div class="attendance_check">
										<p></p>
									</div>
									<span class="td_common_manage_name">
										<button class="common_manage_name"  th:value="${team.employeeNo}" value2 = "3"
											th:text="${team.manage} + ' | ' + ${team.employeeName}"></button>
									</span>
								</div>
							</div>
						</div>
					</div>

					<!--경영 지원 - 정보 보안-->
					<div>
						<p id="employee_team_p">
							<button class="btn btn-primary" id="common_button" type="button" data-bs-toggle="collapse"
								data-bs-target="#common_employee_container3" aria-expanded="false"
								aria-controls="common_employee_container3">
								경영 지원 - 정보 보안
							</button>
						</p>
						<div class="collapse" id="common_employee_container3">
							<div class="row">
								<div id="common_employee_item" class="col-6" th:each="team : ${team3}">
									<div class="attendance_check">
										<p></p>
									</div>
									<span class="td_common_manage_name">
										<button class="common_manage_name"   th:value="${team.employeeNo}" value2 = "3"
											th:text="${team.manage} + ' | ' + ${team.employeeName}"></button>
									</span>
								</div>
							</div>
						</div>
					</div>

					<!--경영 지원 - 구매-->
					<div>
						<p id="employee_team_p">
							<button class="btn btn-primary" id="common_button" type="button" data-bs-toggle="collapse"
								data-bs-target="#common_employee_container4" aria-expanded="false"
								aria-controls="common_employee_container4">
								경영 지원 - 구매
							</button>
						</p>
						<div class="collapse" id="common_employee_container4">
							<div class="row">
								<div id="common_employee_item" class="col-6" th:each="team : ${team4}">
									<div class="attendance_check">
										<p></p>
									</div>
									<span class="td_common_manage_name">
										<button class="common_manage_name"   th:value="${team.employeeNo}" value2 = "3"
											th:text="${team.manage} + ' | ' + ${team.employeeName}"></button>
									</span>
								</div>
							</div>
						</div>
					</div>

					<!--개발 연구 - 개발 1팀-->
					<div>
						<p id="employee_team_p">
							<button class="btn btn-primary" id="common_button" type="button" data-bs-toggle="collapse"
								data-bs-target="#common_employee_container5" aria-expanded="false"
								aria-controls="common_employee_container5">
								개발 연구 - 개발 1팀
							</button>
						</p>
						<div class="collapse" id="common_employee_container5">
							<div class="row">
								<div id="common_employee_item" class="col-6" th:each="team : ${team5}">
									<div class="attendance_check">
										<p></p>
									</div>
									<span class="td_common_manage_name">
										<button class="common_manage_name"   th:value="${team.employeeNo}" value2 = "3"
											th:text="${team.manage} + ' | ' + ${team.employeeName}"></button>
									</span>
								</div>
							</div>
						</div>
					</div>

					<!--개발 연구 - 개발 2팀-->
					<div>
						<p id="employee_team_p">
							<button class="btn btn-primary" id="common_button" type="button" data-bs-toggle="collapse"
								data-bs-target="#common_employee_container6" aria-expanded="false"
								aria-controls="common_employee_container6">
								개발 연구 - 개발 2팀
							</button>
						</p>
						<div class="collapse" id="common_employee_container6">
							<div class="row">
								<div id="common_employee_item" class="col-6" th:each="team : ${team6}">
									<div class="attendance_check">
										<p></p>
									</div>
									<span class="td_common_manage_name">
										<button class="common_manage_name"   th:value="${team.employeeNo}" value2 = "3"
											th:text="${team.manage} + ' | ' + ${team.employeeName}"></button>
									</span>
								</div>
							</div>
						</div>
					</div>

					<!--개발 연구 - 연구팀-->
					<div>
						<p id="employee_team_p">
							<button class="btn btn-primary" id="common_button" type="button" data-bs-toggle="collapse"
								data-bs-target="#common_employee_container7" aria-expanded="false"
								aria-controls="common_employee_container7">
								개발 연구 - 연구팀
							</button>
						</p>
						<div class="collapse" id="common_employee_container7">
							<div class="row">
								<div id="common_employee_item" class="col-6" th:each="team : ${team7}">
									<div class="attendance_check">
										<p></p>
									</div>
									<span class="td_common_manage_name">
										<button class="common_manage_name"   th:value="${team.employeeNo}" value2 = "3"
											th:text="${team.manage} + ' | ' + ${team.employeeName}"></button>
									</span>
								</div>
							</div>
						</div>
					</div>

					<!--영업 - 홍보마케팅-->
					<div>
						<p id="employee_team_p">
							<button class="btn btn-primary" id="common_button" type="button" data-bs-toggle="collapse"
								data-bs-target="#common_employee_container8" aria-expanded="false" 
								aria-controls="common_employee_container8">
								영업 - 홍보마케팅
							</button>
						</p>
						<div class="collapse" id="common_employee_container8">
							<div class="row">
								<div id="common_employee_item" class="col-6" th:each="team : ${team8}">
									<div class="attendance_check">
										<p></p>
									</div>
									<span class="td_common_manage_name">
										<button class="common_manage_name"  th:value="${team.employeeNo}" value2 = "3"
											th:text="${team.manage} + ' | ' + ${team.employeeName}"></button>
									</span>
								</div>
							</div>
						</div>
					</div>

					<!--영업 - 해외 사업-->
					<div>
						<p id="employee_team_p">
							<button class="btn btn-primary" id="common_button" type="button" data-bs-toggle="collapse"
								data-bs-target="#common_employee_container9" aria-expanded="false"
								aria-controls="common_employee_container9">
								영업 - 해외 사업
							</button>
						</p>
						<div class="collapse" id="common_employee_container9">
							<div class="row">
								<div id="common_employee_item" class="col-6" th:each="team : ${team9}">
									<div class="attendance_check">
										<p></p>
									</div>
									<span class="td_common_manage_name">
										<button class="common_manage_name" th:value="${team.employeeNo}" value2 = "3"
											th:text="${team.manage} + ' | ' + ${team.employeeName}"></button>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script>
				
				//근무중이면 초록색, 근무중이아니면 붉은색
				$(function () {
					$('.attendance_check').css('background-color', 'red');
					$('.attendance_check').css('border', 'red');
				});
				
			</script>
</div>
</body>

</html>