<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
   	<link rel="stylesheet" th:href="@{css/login/login.css}">
</head>

<body>
	<div class = "loginAll">
		<div class = "formLine">
			<img src="img/login/2.png" class = "somsLogo">
			<form method="post" th:action="@{/login}" class="loginForm">
				<div class = "loginContents">
					<input name = "id" class = "id" placeholder="ID">
					<input name = "pw" class = "pw" type = "password" placeholder="PASSWORD">
					<button type="button" class = "loginBtn">login</button>		
				</div>
			</form>
		</div>	
	</div>
</body>

<script>
	$('.loginBtn').click(function(){
		let id = $('.id');
		let pw = $('.pw');
		
		if (id.val()==""){
			alert("아이디를 입력해주세요.");
			id.focus();
		}else if (pw.val()==""){
			alert("비밀번호를 입력해주세요.");
			pw.focus();
		}else{
			$('.loginForm').submit();
		}
		return
	})
	
</script>

</html>