<!DOCTYPE html>
<html lang="ko" th:replace="~{email/layout/mainLayout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>메일</title>
</head>
<body>
<section class="Article">
	<div>
		<!--Title 부분-->
		<div style="width:90%; margin-left: 5%">

			<div class="position-fixed bg-white" style="width:75%">
				<!-- 페이지 본문의 제목 -->
				<div>
					<h1 class="pt-4 px-4 text-start " th:if="${folderName == 'INBOX'}">받은메일함</h1>
					<h1 class="pt-4 px-4 text-start " th:if="${folderName == 'Sent Items'}">보낸메일함</h1>
					<h1 class="pt-4 px-4 text-start " th:if="${folderName == 'Drafts'}">임시보관함</h1>
					<h1 class="pt-4 px-4 text-start " th:if="${folderName == 'Trash'}">휴지통</h1>
					<h1 class="pt-4 px-4 text-start " th:if="${folderName == 'Junk E-mail'}">스팸메일함</h1>
				</div>
				<!-- 본문의 제목과 내용을 구분하는 선 -->
				<hr style="border: solid 2px #EA471B; opacity: 1; margin:0;">
			</div>
			<!-- 본문의 내용 위치를 잡기위해 만든 상담 공백 -->
			<div style="height:5rem;"></div>
		</div>
		<!--네비바 부분-->

		<div class="d-flex ms-5 mt-5 mb-4 text-start" style="width:80%;">
			<div style="width:5%;"></div>
			<div style="width:2%;">
				<input type="checkbox" id="MailCheck" onclick="toggleAll(this)">
			</div>
			<div style="width:4%;" th:if="${folderName == 'INBOX'}">
				<button class="text-center rounded-1 border-0 bg-transparent text-dark" style="font-size:0.8rem;" id="seen">읽음</button>
			</div>
			<div style="width:5%;" th:if="${folderName != 'Sent Items'}">
				<p class="text-start border-0 text-dark" style="font-size:0.6rem; margin-top: 0.3rem;" id="seenCount"></p>
			</div>
			<div style="width:5%;" th:if="${folderName == 'INBOX'}">
				<button class="text-center rounded-1 border-0 text-light" style="font-size:0.8rem; background-color: #D8542E;" id="junk">스팸</button>
			</div>
			<div style="width:5%;">
				<button class="text-center rounded-1 border-0 text-light" style="font-size:0.8rem; background-color: #E86E1C;" id="trash">삭제</button>
			</div>
			<div style="width:74%;"></div>
		</div>

		<div class="ms-5">
			<div class="d-flex ms-5 my-2 pb-1 border-bottom" style="width:80%; height:1.5rem; font-size:0.9rem;">
				<div style="width:2%" class="text-center">
				</div>
				<div style="width:6%" class="text-center">
				</div>
				<div style="width:27%" class="text-center"
						 th:if="${folderName == 'INBOX' || folderName == 'Junk E-mail' || folderName == 'Trash'}">
					<p>발신자</p>
				</div>
				<div style="width:27%" class="text-center"
						 th:if="${folderName == 'Sent Items' || folderName == 'Drafts'}">
					<p>수신자</p>
				</div>
				<div style="width:50%" class="text-center">
					<p>제목</p>
				</div>
				<div style="width:15%" class="text-center">
					<p>발신일</p>
				</div>

			</div>
		</div>

		<form id="mailListForm" method="post" th:action="@{/email/moveToTrashOrJunk}" class="ms-5">
			<div style="display:none;" id="submitValue">
				<input type="hidden" name="moveFolder" id="moveFolder" value="">
				<input type="hidden" name="folderName" th:value="${folderName}">
				<input type="hidden" name="emailNoList" value="0">
			</div>
			<div th:each="email : ${emailList}" class="d-flex ms-5 my-1 border-bottom" style="width:80%; height:1.5rem; font-size:0.9rem;"
					 th:classappend="${folderName != 'Sent Items' && email.emailSeen ? 'opacity-75' : 'opacity-100'}">
				<div style="width:2%" class="text-center">
					<input class="py-auto" type="checkbox" name="emailNoList" th:value="${email.emailNo}">
				</div>
				<div style="width:6%; font-size: 0.7rem;" class="text-center">
					<p th:id="${'seen' + emailStat.index}" style="padding-top:0.2rem;" th:if="${folderName == 'INBOX'}" th:text="${email.emailSeen ? '읽음' : '안읽음'}"></p>
				</div>
				<div style="width:27%" class="text-start"
						 th:if="${folderName == 'INBOX' || folderName == 'Junk E-mail' || folderName == 'Trash'}">
					<p th:text="${email.getEmailFrom()}">발신자</p>
				</div>
				<div style="width:27%" class="text-start overflow-hidden px-1"
						 th:if="${folderName == 'Sent Items' || folderName == 'Drafts'}">
					<small>
						<span th:if="${#lists.size(email.getEmailRecipient()) == 1}" th:text="${email.getEmailRecipient()[0]}">
							수신자
						</span>
						<span th:if="${#lists.size(email.getEmailRecipient()) > 1}"
									th:text="${email.getEmailRecipient()[0]} + ' 외 ' + (${#lists.size(email.getEmailRecipient()) - 1} + '명')">
							수신자
						</span>
					</small>
				</div>
				<div style="width:50%" class="text-start px-1">
					<a style="text-decoration: none; max-width: 95%;" class="overflow-hidden text-dark showDetail fw-normal"
						 th:text="${email.getEmailSubject()}"
						 th:href="@{/email/emailDetail(emailNo=${email.getEmailNo()},folderName=${folderName})}"
						 th:styleappend="${folderName != 'Sent Items' && email.emailSeen ? 'opacity:0.75;' : 'opacity:1;'}">
						제목
					</a>
					<svg style="width:5%;" th:if="${email.emailHasAttachment}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-files ms-1" viewBox="0 0 16 16">
						<path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z"/>
					</svg>
				</div>
				<div style="width:15%" class="text-end pe-1">
					<p class="py-auto" th:text="${email.getEmailSentDate()}">발신일</p>
				</div>

			</div>
		</form>


	</div>

	<script th:inline="javascript">

		$('#trash').on("click", function() {
			document.getElementById("moveFolder").value = "Trash";
			if (deleteCheckedRows()) {
				$('#spinner').modal("show");
				$('#mailListForm').submit();
			} else {
				alert("선택 된 메일이 없습니다.");
			}
		});

		$('#junk').on("click", function() {
			document.getElementById("moveFolder").value = "Junk E-mail";
			$('#spinner').modal("show");
			if (deleteCheckedRows()) {
				$('#spinner').modal("show");
				$('#mailListForm').submit();
			} else {
				alert("선택 된 메일이 없습니다.");
			}
		});

		$('#seen').on("click", function() {
			document.getElementById("moveFolder").value = "justSeen";
			$('#spinner').modal("show");
			if (deleteCheckedRows()) {
				$('#spinner').modal("show");
				$('#mailListForm').submit();
			} else {
				alert("선택 된 메일이 없습니다.");
			}
		});

		$('.showDetail').on("click", function() {
			$('#spinner').modal("show");
		})

		// $('.detailLink').on("click", function(){
		// 	$('#spinner').modal("show");
		//  });

		let seenCount = 0;
		let max = [[${emailList.size}]]
		for (let i = 0; i < max; i++) {
			if ($('#seen' + i).text() == "안읽음") {
				seenCount += 1;
			}
		}
		$('#seenCount').text("[ "+seenCount + " / " + max+" ]");



		//체크 된 메일 페이지에서 삭제
		function deleteCheckedRows() {
			const checkboxes = document.querySelectorAll('input[type="checkbox"]');
			for (let i = 0; i < checkboxes.length; i++) {
				const checkbox = checkboxes[i];
				if (!checkbox.checked&&checkbox.id !=="MailCheck") {
					return false;
				} else {
					return true;
				}
			}
		}
		//  var selectedEmails = [];
		//      $('input[name="emailNoList"]:checked').each(function() {
		//          selectedEmails.push($(this).val());
		//      });
		//     $('input[name="emailNoList"]').remove();
		//     $.post('/moveToTrashOrJunk', {emailNoList: emailNoList}, function(data) {
		//     });



		//메일 전부 체크
		function toggleAll(source) {
			const checkboxes = document.querySelectorAll('input[type="checkbox"]');
			for (let i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i] !== source) {
					checkboxes[i].checked = source.checked;
				}
			}
		}

		//뒤로가기 시 spinner 무한로딩 방지
		let folderName = [[${folderName}]];
		window.onpageshow = function (event) {
			if (event.persisted || (window.performance && window.performance.navigation.type == 2)) {
				$('#spinner').modal("show");
				location.href="/email/emailList?&folderName=" + folderName;
			}
		};
	</script>
</section>
</body>
</html>