<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.soms.common.repository.mapper.CommonMapper">

    <select id="commonList" resultType="project.soms.common.dto.CommonDto">
		select A.employee_name, B.manage, A.employee_team, A.employee_no
		from employee A
		LEFT JOIN manage B
		ON A.manage_no = B.manage_no
		ORDER BY A.manage_no desc
    </select>

	<select id="commonSelect" resultType="project.soms.common.dto.CommonDto">
		select A.employee_name, B.manage, A.employee_team, A.employee_no
		from employee as A
		LEFT JOIN manage as B
		ON A.manage_no = B.manage_no
		WHERE A.employee_name like concat('%',#{employeeName},'%') and B.manage like concat('%',#{manage},'%') and A.employee_team like concat('%',#{employeeTeam},'%')
		ORDER BY A.manage_no desc
	</select>
</mapper>