<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="project.soms.login.repository.mapper.LoginMapper">
	
	<select id="login" resultType="project.soms.employee.dto.EmployeeDto">
		select a.employee_no, a.employee_id, a.employee_pw, a.employee_name, a.employee_phone, a.employee_email, a.employee_addr, a.employee_team, a.employee_admin, a.manage_no, b.manage
		from employee as a
		join manage as b
		where a.manage_no = b.manage_no
		and a.employee_id = #{id} and a.employee_pw = #{pw};
	</select>
	
</mapper>