*{
	list-style: none;
}
.GetMail{
	display: flex;
	flex-direction: column;
	margin-left:5%;
}
/*---받은 메일 네비바---*/
.GetMail_Nav{
	width:80%;
}
.GetMail_Nav ul{
	margin-top: 2rem;
	padding:0;
}
.GetMail_Nav ul li{
	font-weight: bold;
	display: inline-block; 
}
/*---네비바 li당 간격---*/
.lis1{
	padding-left: 0.7rem;
}
.lis2{
	padding-top:0.1rem;
	padding-left: 0.7rem;
}
.lis3{
	padding-left: 0.7rem;
}
.lis4{
	padding-left: 0.7rem;
	padding-right:3rem;
}
.lis5 > a{
	padding-left: 3rem;
	text-decoration: none;
	color: black;
	font-weight: 500;
}
.lis6{
	padding-left: 0.7rem;
}
.lis7{
	padding-left: 0.7rem;
	padding-right:3rem;
}
.lis8{
	padding-left: 3rem;
}
.lis9{
	padding-left: 3rem;
	padding-right:8rem;
}

/*---받은 메일 테이블---*/
.GetMail_Container{
	width:87%;
	margin-left:2.5%;
}


/*---테이블 td당 간격---*/
.GetMail_Container table tr{
	border-bottom:0.1rem solid #f4f4f4;	
	margin: auto;
}
.GetMail_Container table tr td{
	padding-top: 1.3rem;
	white-space: nowrap;
}
.table1{
	box-sizing: content-box;
	width: 2.5%;
}

.table3{
	box-sizing: content-box;
	width:5%;
}
.table4{
	box-sizing: content-box;
	width:20%;
}

.table5{
	box-sizing: content-box;
	width:40%;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
.table5>a{
	text-decoration: none;
	color:black;
}
.table6{
	box-sizing: content-box;
	width:10%;
}

#trashbtn{
	resize: none;
	border:none;
	overflow: hidden;
	background-color: transparent;
	font-weight: bold;
	font-size: 0.97rem;
}

#junkbtn{
	resize: none;
	border:none;
	overflow: hidden;
	background-color: transparent;
	font-weight: bold;
	font-size: 0.97rem;
}



/*---메일 보내기---*/
.SendMail_Container{
	display: flex;
	flex-direction: column;
	width:80%;
	margin-left: 10%;
}
.SendMail_Recipient>label{
	font-weight: bold;
}
.Recipient{
	border: none;
	border-bottom: 2px solid #f4f4f4;
	width: 80%;
}
#addRecipients{
    background-color: #EA471B;
	border: 1px solid #EA471B;
	border-radius: 0.4rem;
    font-size: 0.7rem;
    height: 1.5rem;
    color: white;
    font-family: 'KOTRA_BOLD-Bold';
    padding:0.2rem 1rem 0.25rem 1rem;
    margin-left: 0.3rem;
}
.SendMail_Title>label{
	margin-right:2rem;
	margin-bottom: 1rem;
	font-weight: bold;
}
.SendMail_Title>input{
	margin-top: 1rem;
	border: none;
	border-bottom: 2px solid #f4f4f4;
	width: 80%;
}
.SendMail_AddFile{
    margin-top:1rem;	
}
.SendMail_AddFile>label{
	font-weight: bold;
}

.SendMail_AddFile>input[type=file]::file-selector-button{
	background-color: #EA471B;
	border: 1px solid #EA471B;
	border-radius: 0.4rem;
    font-size: 0.7rem;
    height: 1.5rem;
    color: white;
    font-family: 'KOTRA_BOLD-Bold';
    padding:0.2rem 1rem 0.25rem 1rem;
    margin-left: 0.3rem;

}
input[type=file]{
    width:90px;
    color:transparent;
}
.file-list{
    border: 2px solid #f4f4f4;
	border-radius: 0.4rem;
	width: 79.5%;
	height: 5rem;
    margin-left:4.4%;
    overFlow : auto;
}

/*수정할 부분*/
.SendMail_Content>textarea{
    margin-top:1rem;
	border: 2px solid #f4f4f4;
	border-radius: 0.4rem;
	width: 86.2%;
	height:20rem;
}
.SendMail-Btn{
	margin-left: 62%;
}
.SendMail-Btn>Button{
	background-color: #EA471B;
    border: 0.2rem solid #EA471B;
    border-radius: 0.38rem;

    font-size: 0.7rem;
    height: 1.5rem;
    color: white;
    font-family: 'KOTRA_BOLD-Bold';
    padding:0.2rem 1rem 0.25rem 1rem;
    margin-left: 0.3rem;
}
.insert {
    padding: 20px 30px;
    display: block;
    width: 600px;
    margin: 5vh auto;
    height: 90vh;
    border: 1px solid #dbdbdb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.insert .file-list {
    height: 200px;
    overflow: auto;
    border: 1px solid #989898;
    padding: 10px;
}
.insert .file-list .filebox p {
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
}
.delete{
	background-color: #EA471B;
    border: 0.2rem solid #EA471B;
    border-radius: 0.38rem;

    font-size: 0.7rem;
    height: 1.5rem;
    color: white;
    font-family: 'KOTRA_BOLD-Bold';
    padding:0.125rem 0.5rem 0.125rem 0.5rem;
    margin-left: 0.5rem;
}


   .Read-Container{
        display:flex;
        flex-direction: column;
        margin-left:10%;
        margin-top: 3%;
    }
    .Read-From{
        display:flex;
        flex-direction: row;
    }
    .Read-From > p{
        margin-left: 1rem;
        padding:0;
        margin-top:0;
    }
    .Read-From >div{
        border-bottom:0.15rem solid #f4f4f4;
        width:70%; 
    }
    .Read-FromContent{
        margin-top:0;
        margin-bottom:0;
        margin-left: 1rem;;
    }
    .Read-Recipient{
        display:flex;
        flex-direction: row;
        margin-top:1rem;
    }
    .Read-Recipient > p{
        margin-left: 1rem;
    }
    .Read-Recipient >div{
        border-bottom:0.15rem solid #f4f4f4;
        width:70%;
    }
    .Read-RecipientContent{
        margin-top:0;
        margin-bottom: 0;
        margin-left: 1rem;
    }
    .Read-Date{
        margin-top:1rem;
        text-align: right;
        margin-right:10%;
    }
    .Read-Content{
        width:60rem;
        height:25rem;
        border:0.15rem solid #f4f4f4;
        border-radius: 1rem;
    }
    .Read-Button{
        text-align: right;
        margin-right: 10%;
    }
    .Read-Button form> a{
        background-color: #EA471B;
        border: 1px solid #EA471B;
        border-radius: 0.4rem;
        font-size: 0.7rem;
        height: 1.5rem;
        color: white;
        font-family: 'KOTRA_BOLD-Bold';
        padding:0.2rem 1rem 0.25rem 1rem;
        margin-left: 0.3rem;
    }
    .Read-Button form>button{
        background-color: #EA471B;
        border: 1px solid #EA471B;
        border-radius: 0.4rem;
        font-size: 0.7rem;
        height: 1.5rem;
        color: white;
        font-family: 'KOTRA_BOLD-Bold';
        padding:0.2rem 1rem 0.25rem 1rem;
        margin-left: 0.3rem;
    }