html{font-size: 20px;}

table, tr, th, td{
	border: 0.05rem solid black;
	box-sizing: border-box;
	font-size: 0.9rem;
	text-align: center;
}

th:nth-child(1){
	width: 7rem;
}

th:nth-child(2){
	width: 7rem;
}

th:nth-child(3){
	width: 5rem;
}

th:nth-child(4){
	width: 5rem;
}

th:nth-child(5){
	width: 4rem;
}