<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="annual" class = "annual">
		<div class = "annual_flexbox">
			
			<h3>연차 조회</h3>
			
			<div style="display: flex;justify-content: flex-end;margin: 0 0.3rem 0.5rem 0;">
			
			<select style="border: none; font-size: 0.85rem;">
				<option selected>2023년 2월</option>
			</select>
			
		</div>
	
		<table class = "annual_table">
			<tr>
				<th>시작 날짜</th>
				<th>시작 시간</th>
				<th>끝 날짜</th>
				<th>끝 시간</th>
				<th>상태</th>
			</tr>
			<tr>
				<td>2022-02-01</td>
				<td></td>
				<td>2022-02-02</td>
				<td></td>
				<td>연차</td>
			</tr>
			<tr>
				<td>2022-02-01</td>
				<td></td>
				<td>2022-02-02</td>
				<td></td>
				<td>연차</td>
			</tr>
		</table>
		
		<div style="margin: 0.5rem 0 0 0; display: flex;" >
			<span style="font-size: 0.75rem; border-bottom: 0.05rem solid black;">남은 연차의 갯수는 총 <b>3</b>개 입니다.</sapn>
		</div>
		</div>
	</div>
</body>


	
	
	
</html>