<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="annual" class = "annual">
		
		<link th:href="@{/css/mypage/flagment/Annual.css}" rel="stylesheet">
		
		<div class = "annual_flexbox">
			
			<h3>연차 조회</h3>
			
			<div style="display: flex;justify-content: flex-end;margin: 0 0.3rem 0.5rem 0;">
			
		</div>
	
		<table class = "annual_table">
			<tr>
				<th>시작 날짜</th>
				<th>끝 날짜</th>
				<th>일 수</th>
				<th>시간</th>
				<th>상태</th>
			</tr>
			
			<tr th:each="annuals : ${annualList}">
				<td th:text="${annuals.annualLeaveStart}"></td>
				<td th:text="${annuals.annualLeaveEnd}"></td>
				<td th:text="${annuals.dateDiff} ? ${annuals.dateDiff} + '일' : ''"></td>
				<td th:text="${annuals.annualLeaveTime} ? ${annuals.annualLeaveTime} + '시간' : ''"></td>
				<td th:text="${annuals.annualLeaveSection}"></td>
			</tr>

		</table>
			<div style="margin: 0.5rem 0 0 0; display: flex;">
			  <span style="font-size: 0.75rem; border-bottom: 0.05rem solid black;" th:if="${annualHaveDate lt 12}" th:text="|올해 총 12개중 총 ${annualHaveDate}일을 사용하셨습니다.|"></span>
			  <span style="font-size: 0.75rem; border-bottom: 0.05rem solid black;" th:if="${annualHaveDate == 12}" th:text="|올해 연차를 모두 소진하셨습니다.|"></span>
			</div>
		</div>
	</div>
</body>


	
	
	
</html>