<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="attendance" class = "attendance">
		
		<link th:href="@{/css/mypage/flagment/Attendance.css}" rel="stylesheet">
		
		<div class = "attendance_flexbox">
			
			<h3>출퇴근 조회</h3>
			
			<div style="display: flex;justify-content: flex-end;margin: 0 0.3rem 0.5rem 0;">
			
			<select style="border: none; font-size: 0.85rem;" class = "attendanceSelect">
				<option th:each="attendanceMonth : ${attendanceSixMonth}" th:text ="${attendanceMonth}" 
					th:value ="${attendanceMonth}" th:selected="${attendanceMonth == attendanceSelectDate}"></option>
			</select>
			
		</div>
	
		<table class = "attendance_table">
			<tr>
				<th>날짜</th>
				<th>출근 시간</th>
				<th>퇴근 시간</th>
			</tr>
			<tr th:each="attendance : ${attendanceList}">
				<td th:text="${attendance.attendanceGotodate}"></td>
				<td th:text="${attendance.attendanceGototime} ? ${attendance.attendanceGototime} + '시' : ''"></td>
				<td th:text="${attendance.attendanceLeavetotime} ? ${attendance.attendanceLeavetotime} + '시' : ''"></td>
			</tr>

		</table>
			<div style="margin: 0.5rem 0 0 0; display: flex;">
			  <span style="font-size: 0.75rem; border-bottom: 0.05rem solid black;" th:if="${calAttendance lt 52}" th:text="|주 근로 52시간중 총 ${calAttendance}시간을 하셨습니다.|"></span>
			  <span style="font-size: 0.75rem; border-bottom: 0.05rem solid black;" th:if="${calAttendance == 52}" th:text="|주 근로 52시간을 모두 하셨습니다.|"></span>
			</div>
		</div>
		
		<form style="display: none;" class = "attendanceSelectForm"
		method = "get" action="mypage">
			<input type="hidden" class ="attendanceSelectInput" name = "AttendanceSelectDate">
		</form>
		
		<script>
			
			const attendanceSelectForm = $('.attendanceSelectForm');
			const attendanceSelect = $('.attendanceSelect');
			const attendanceSelectInput = $('.attendanceSelectInput');
			
			attendanceSelect.change(function(){
				attendanceSelectInput.val(attendanceSelect.val());
				attendanceSelectForm.submit();
				$('#spinner').modal('show');
			})
			
		</script>
		
	</div>
</body>


	
	
	
</html>