 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
	<div th:fragment="mypageModals">
		
		<!-- Modal [계정 생성] -->
	    <div class="modal fade" id="employeeRegisterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
	    data-bs-backdrop="false">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">계정 생성</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body" style="padding-bottom: 0;">
				 <div class="mb-3 row">
				    <div class="col-sm-10 w-100">
						
						<div class = "d-flex mb-2">
							<input type="text" class="form-control w-25" id="inputRegisterName" placeholder="성명" name="employeeName">
					  		<input type="text" class="form-control w-50 ms-2" id="inputRegisteNo" placeholder="사번" name="employeeNo">
					  		
					  		<select class="form-select w-25 ms-2" aria-label="직급" id="inputRegisterManage" name="manageNo">
								<th:block th:each="manage : ${manages}">
									<option th:text="${manage.manage}" th:value="${manage.manageNo}" selected></option> 
								</th:block>
							</select>
		
						</div>
	
					  <input type="text" class="form-control mb-2" id="inputRegisterId" placeholder="계정" name="employeeId">
					  <input type="number " class="form-control mb-2" id="inputRegisterPhone" placeholder="연락처" name="employeePhone">
					  <input type="email" class="form-control mb-2" id="inputRegisterEmail" placeholder="이메일" name="employeeEmail">
					  <input type="text" class="form-control mb-2" id="inputRegisterAddr" placeholder="자택주소" name="employeeAddr">
					  
					  	<div class = "d-flex mb-2">
							<input type="text" class="form-control w-50" id="inputRegisterTeam" placeholder="부서" name="employeeTeam">
					  		<input type="number" class="form-control w-50 ms-2" id="inputRegisterAdmin" placeholder="관리자" name="employeeAdmin"
					  		data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
			aria-controls="offcanvasRight">
						</div>
						
					  
				      <p style="margin: 0.5rem 0 0 0.3rem; font-size: 0.8rem;" class = "inputRegisterText">비밀번호는 "1234"로 기본설정 됩니다.</p>
				    </div>
				  </div>
		      </div>
		      <div class="modal-footer">
		        <button id = "buttonRegister" type="button" class="btn btn-primary" style="background-color: #EA471B;" disabled>생성</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		
		<!-- Modal [개인 정보] -->

		
	    <div class="modal fade" id="employeeUpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">내 정보</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body" style="padding-bottom: 0;">
				 <div class="mb-3 row">
				    <div class="col-sm-10 w-100">
						
						<form action="mypage.infomation.update" method="post"
						name = "infomationUpdateForm" >
						
						<div class = "d-flex mb-2">
							
								<!-- 이름 -->
								<input type="text" class="form-control w-25" placeholder="성명" name="employeeName"
								th:value="${employee.getEmployeeName}" id = "inputUpdateName" readonly>
									
								<!-- 사번 -->
							  	<input type="text" class="form-control w-50 ms-2" placeholder="사번" name="employeeNo"
							  	th:value="${employee.getEmployeeNo}" id = "inputUpdateNo" readonly>
							  		
							  	<!-- 직급 넘버 보여주기식 -->
								<input type="text" class="form-control w-25 ms-2"
									th:value="${manageName}" readonly>
									
								<input type="hidden" th:value="${employee.getManageNo}" name = "manageNo">
						</div>
								
							<!-- 아이디 -->
							<input type="text" class="form-control mb-2"  name="employeeId"
							th:value="${employee.getEmployeeId}" id = "inputUpdateId" readonly>
							  
							<!-- 비밀번호 -->
							<input type="password" class="form-control mb-2"  name="employeePw"
							  placeholder="비밀번호" id = "inputUpdatePw" readonly>
							  
							  <!-- 연락처 -->
							  <input type="number " class="form-control mb-2" placeholder="연락처"  name="employeePhone"
							  th:value="${employee.getEmployeePhone}" id = "inputUpdatePhone" readonly>
							  
							  <!-- 이메일 -->
							  <input type="email" class="form-control mb-2" placeholder="이메일"  name="employeeEmail"
							  th:value="${employee.getEmployeeEmail}" id = "inputUpdateEmail" readonly>
							  
							  <!-- 자택주소 -->
							  <input type="text" class="form-control mb-2" placeholder="자택주소"  name="employeeAddr"
							  th:value="${employee.getEmployeeAddr}" id = "inputUpdateAddr" eadonly>
							  
							  	<div class = "d-flex mb-2">
									  
									<!-- 부서 -->
									<input type="text" class="form-control w-50" placeholder="부서"  name="employeeTeam"
									th:value="${employee.getEmployeeTeam}" id = "inputUpdateTeam" readonly>
									
									<!-- 관리자 -->
							  		<input type="number" class="form-control w-50 ms-2" placeholder="관리자"  name="employeeAdmin"
							  		th:value="${employee.getEmployeeAdmin}" id = "inputUpdateAdmin" readonly>
							  		
								</div>
					
					  </form>
				      <p style="margin: 0.5rem 0 0 0.3rem; font-size: 0.8rem;">비밀번호, 연락처, 이메일, 주소를 변경할 수 있습니다.</p>
				      <p style="margin: 0.5rem 0 0 0.3rem; font-size: 0.8rem;">비밀번호는 영어 소문자/숫자 조합으로 8~16자리입니다.</p>
				      <p style="margin: 0.5rem 0 0 0.3rem; font-size: 0.8rem;">연락처는 (010-xxxx-xxxx)로 입력해주세요.</p>
				      
				    </div>
				  </div>
		      </div>
		      <div class="modal-footer">
				<button id = "buttonUpdateSuccess" type="button" class="btn btn-primary" style="background-color: #EA471B;" disabled>수정완료</button>
		        <button id = "buttonUpdate" type="button" class="btn btn-primary" style="background-color: #EA471B;">수정하기</button>
		      </div>
		    </div>
		  </div>
		</div>
	  
</html>