html{ font-size: 20px; }
body{ margin: 0; }
html,body{ min-height: 100%; width: 15rem;}

h1, h2, h3, a, th{
    font-family: 'Noto Sans KR', sans-serif;
}

p, span, li, td{
    font-family: 'IBMPlexSansKR-Regular';
}

.Icons, .Categorys{ 
    padding: 0; 
    margin: 0;
}

.Side, .All{
    display: flex;
}

.Side{
    position: fixed;
}

.All{
    width: 100vw;
    height: 100vh;
    flex-direction: row;
}

.Icons{
    width: 3rem;
    height: 100vh;
    background-color: #EA471B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Categorys{
    width: 9rem;
    height: 100vh;
    border-right: 0.1rem solid #f4f4f4;
}
.Icons li{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.4rem;
}

.Icon i{
    color: white;
}

.Icon_Up :nth-child(1){
    margin-top: 1.3rem;
}

.Icon_Down :nth-last-child(1){
    margin-bottom: 0.7rem;
}

.Side_Dummy{
    width: 12rem;
    height: 100vh;
}

.Article{
    flex-grow: 1;
}

.Category{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.Item-Title{
    font-size: 0.8rem;
    font-family: 'IBMPlexSansKR-Regular';
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.Item-Title:hover, .Item-Menu a:hover{
    color: #EA471B;
}

.Item-Title p{
    text-align: center;
    margin: 0.4rem;
    font-family: 'Noto Sans KR', sans-serif;
}


.Item-Menu{
    display: none;
}

.Item-Menu a{
    font-size: 0.7rem;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
}

.Category-Title{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Category-Title p{
    margin: 0;
    font-size: 1.2rem;
    font-family: 'Noto Sans KR', sans-serif;
}

.Category-A{
    display: flex;
    justify-content: center;
    margin: 0.8rem;
}

.Category-A a{
    font-size: 0.8rem;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
    color: black;
}

.Category-A a:hover{
    color: #EA471B;
}

.Category-Btn{
    display: flex;
    justify-content: center;
}

.Category-Btn button{
    background-color: #EA471B;
    border: 0.2rem solid #EA471B;
    border-radius: 0.38rem;

    font-size: 0.7rem;
    height: 1.5rem;
    color: white;
    font-family: 'KOTRA_BOLD-Bold';
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}