<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="width:100%; height: 100%;">

<head>
	<meta charset="UTF-8">
	<title>게시판 리스트</title>
	<link th:href="@{/css/board/board.css}" rel="stylesheet">
</head>	
<style>
	
</style>
<body class="wrap" style="width:100%; margin:0">
	<div style="display: flex; justify-content: center; align-items: center; width: 70%; height: 60%;">
		<div class="errorPageContainer">
			<img class="errorBoardIcon" src="/img/board/errorBoardIcon.png" style="background-color: white;">
			<h1 class="errorContent">게시물이 삭제되었거나 존재하지 않습니다.</h1>
			<form method="get" action="/board/boardList">	<input type="hidden" name="boardSection" th:value="전사">
				<input type="hidden" name="viewPage" th:value="1">
				<input type="hidden" name="pageLimit" th:value="10">
			<button class="errorPageButton">목록</button>
			</form>
		</div>
	</div>
</body>


</html>